Felles/Kontakt/xml.schema/2012.01.31/giFellesKontakt20120131.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2012.01.31" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2012.01.31" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2012.01.31" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2012.01.31" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2012.01.31" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2012.01.31" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2012.01.31" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2012.01.31" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2012.01.31" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2012.01.31" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2012.01.31" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2012.01.31" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2012.01.31" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2012.01.31" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2012.01.31" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2012.01.31" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2012.01.31" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2012.01.31" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2012.01.31" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2012.01.31" elementFormDefault="qualified" version="2012.01.31 - GeoIntegrasjon v1.1.0">
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2012.01.31/giFellesAdresse20120131.xsd"/>
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2012.01.31/giFellesKodeliste20120131.xsd"/>
	<xs:element name="PersonidentifikatorTypeListe" type="tns:PersonidentifikatorTypeListe"/>
	<xs:complexType name="PersonidentifikatorTypeListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:PersonidentifikatorType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PersonidentifikatorType" type="tns:PersonidentifikatorType"/>
	<xs:complexType name="PersonidentifikatorType">
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="KontaktListe" type="tns:KontaktListe"/>
	<xs:complexType name="KontaktListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Kontakt" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Kontakt" type="tns:Kontakt"/>
	<xs:complexType name="Kontakt">
		<xs:sequence>
			<xs:element name="navn" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="adresser" type="fellesadressens:EnkelAdresseListe" minOccurs="0" maxOccurs="1">
				
			</xs:element>
			<xs:element name="elektroniskeAdresser" type="fellesadressens:ElektroniskAdresseListe" minOccurs="0" maxOccurs="1">
				
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Organisasjon" type="tns:Organisasjon"/>
	<xs:complexType name="Organisasjon">
		<xs:complexContent>
			<xs:extension base="tns:Kontakt">
				<xs:sequence>
					<xs:element name="organisasjonsnummer" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Person" type="tns:Person"/>
	<xs:complexType name="Person">
		<xs:complexContent>
			<xs:extension base="tns:Kontakt">
				<xs:sequence>
					<xs:element name="personid" type="tns:Personidentifikator" minOccurs="0" maxOccurs="1"/>
					<xs:element name="etternavn" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="fornavn" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PersonidentifikatorListe" type="tns:PersonidentifikatorListe"/>
	<xs:complexType name="PersonidentifikatorListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Personidentifikator" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Personidentifikator" type="tns:Personidentifikator"/>
	<xs:complexType name="Personidentifikator">
		<xs:sequence>
			<xs:element name="personidentifikatorNr" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="personidentifikatorType" type="tns:PersonidentifikatorType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
