Arkiv/Dokument/Xml/Schema/20101222/giArkivDokument20101222.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Arkiv/Dokument/Xml/Schema/20101222" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Arkiv/Dokument/Xml/Schema/20101222" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/Xml/Schema/20101222" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/Xml/Schema/20101222" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Schema/20101222" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/Xml/Schema/20101222" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/Xml/Schema/20101222" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/Xml/Schema/20101222" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/Xml/Schema/20101222" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/Xml/Schema/20101222" xmlns:fellesfeilns="http://rep.geointegrasjon.no/Felles/Feil/Xml/Schema/20101222" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/Xml/Schema/20101222" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/Xml/Schema/20101222" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/Xml/Schema/20101222" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/Xml/Schema/20101222" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/Xml/Schema/20101222" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/Xml/Schema/20101222" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20101222" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Schema/20101222" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/Xml/Schema/20101222" elementFormDefault="qualified" version="20101222 - GeoIntegrasjon v0.97">
	<xs:import namespace="http://rep.geointegrasjon.no/Arkiv/Kjerne/Xml/Schema/20101222" schemaLocation="http://rep.geointegrasjon.no/Arkiv/Kjerne/Xml/Schema/20101222/giArkivKjerne20101222.xsd"/>
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Kodeliste/Xml/Schema/20101222" schemaLocation="http://rep.geointegrasjon.no/Felles/Kodeliste/Xml/Schema/20101222/giFellesKodeliste20101222.xsd"/>
	<xs:element name="DokumentListe" type="tns:DokumentListe"/>
	<xs:complexType name="DokumentListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Dokument" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Dokument" type="tns:Dokument"/>
	<xs:complexType name="Dokument">
		<xs:annotation>
			<xs:documentation>
    				Ref. NOARK-4 Norsk arkivsystem Versjon 4, Del II
    				Tekniske spesifikasjoner Utdrag RIKSARKIVET 1999
    				Chapter: 14.3 Modul for elektronisk arkiv Sub Chapter:
    				14.3.1 Dokumentlink (DOKLINK) Sub Chapter: 14.3.2
    				Dokumentbeskrivelse (DOKLINK) Sub Chapter: 14.3.3
    				Versjon (DOKVERSJON)
    		
    Sammensatt objekt med de viktigste feltene fra Noark-4 dokumentlink, dokument-beskrivelse og dokumentversjon, med tillegg for fil (dokumentinnholdet). Merk at 
    Noark 4 Web Services Funksjonell beskrivelse Versjon 2.0 høringsutkast 2009-12-14 Side 18 av 18 
    dette betyr at tjenestene kun støtter én journalpost for en dokumentbeskrivelse og kun en versjon/variant av dokumentversjon. 
    Det kan være 0:mange dokumenter til en journalpost. 
    Merk at innholdet i feltet dlDokkat kan kreve forhåndsregistrering av aktuelle verdier i arkivet. Feltet kan også bli konvertert inn i arkivet ut i fra konverteringsregler knyttet til angitt fagsystem på journalposten. 
    DokumentType er utvidet med følgende felt i forhold til Noark-4: veFilnavn: Fullt filnavn uten katalog, men med type (som &amp;rdquo;N4WS.pdf&amp;rdquo;) veMimeType: Mimetype for filinnholdet, for eksempel &amp;rdquo;application/pdf&amp;rdquo; for .pdf. 
    Disse to feltene er viktige for korrekt håndtering av vedlagte dokument. 	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="systemID" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>dbDokid i n4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dokumentnummer" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>dlRnr i n4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tilknyttetRegistreringSom" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>dlType i n4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dokumenttype" type="tns:Dokumentkategori" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>dbKategori i n4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tittel" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>dbTittel i n4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dokumentstatus" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>dbStatus i n4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="variantformat" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>veVariant i n4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="format" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>veDokformat i n4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fil" type="tns:Fil" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DokumentkategoriListe" type="tns:DokumentkategoriListe"/>
	<xs:complexType name="DokumentkategoriListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Dokumentkategori" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Dokumentkategori" type="tns:Dokumentkategori"/>
	<xs:complexType name="Dokumentkategori">
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Dokumentnummer" type="tns:Dokumentnummer"/>
	<xs:complexType name="Dokumentnummer">
		<xs:complexContent>
			<xs:extension base="arkivkjernens:Journpostnoekkel">
				<xs:sequence>
					<xs:element name="aar" type="xs:integer" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>saSaar i n4</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sekvensnummer" type="xs:integer" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>saSeknr i n4</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dokumentnummer" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>jpJpostnr i n4</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Filinnhold" type="tns:Filinnhold"/>
	<xs:complexType name="Filinnhold">
		<xs:annotation>
			<xs:documentation>Brukes ved mindre filer</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:Fil">
				<xs:sequence>
					<xs:element name="base64" type="xs:base64Binary" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Filreferanse" type="tns:Filreferanse"/>
	<xs:complexType name="Filreferanse">
		<xs:annotation>
			<xs:documentation>Brukes typisk ved store filer</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:Fil">
				<xs:sequence>
					<xs:element name="uri" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
					<xs:element name="kvitteringUri" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Fil" type="tns:Fil"/>
	<xs:complexType name="Fil" abstract="true">
		<xs:annotation>
			<xs:documentation>Filer kan overføres enten via BASE64 eller via en URI. Benyttes siste form, forutsettes det at filen er tilgjengelig fra arkivsystemet for overføring dit. Referansen benyttes kun til slik overføring og ikke for fremtidig bruk. 
    Merk: Også arkivsystemet kan velge mellom disse to ved retur av filer. 
    For at det skal være mulig å vite hvor lenge et dokument skal ligge tilgjengelig og for å gjøre det mulig å fange opp at dokumentet ikke har blitt lagret, er det lagt til en kvitteringsURI. Er denne angitt, skal den kalles når filen er ferdig hentet. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="filnavn" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>veFilnavn i n4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mimeType" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>veMimeType i n4</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
