Matrikkel/Kart/Xml/Wsdl/20100615/giMatrikkelKart20100615.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MatrikkelKart" targetNamespace="http://rep.geointegrasjon.no/Matrikkel/Kart/Xml/Wsdl/20100615" xmlns:tns="http://rep.geointegrasjon.no/Matrikkel/Kart/Xml/Wsdl/20100615" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/Xml/Schema/20100615" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/Xml/Schema/20100615" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Schema/20100615" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/Xml/Schema/20100615" xmlns:kartgeometrins="http://rep.geointegrasjon.no/Kart/Geometri/Xml/Schema/20100615" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/Xml/Schema/20100615" xmlns:arkivindrekjernens="http://rep.geointegrasjon.no/Arkiv/IndreKjerne/Xml/Schema/20100615" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/Xml/Schema/20100615" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20100615" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Schema/20100615" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/Xml/Schema/20100615 ">
	<wsdl:import namespace="http://rep.geointegrasjon.no/Kart/Geometri/Xml/Schema/20100615" location="http://rep.geointegrasjon.no/Kart/Geometri/Xml/Schema/20100615/giKartGeometri20100615.xsd"/>
	<wsdl:import namespace="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20100615" location="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20100615/giMatrikkelFelles20100615.xsd"/>
	<wsdl:types/>
	<wsdl:message name="FinnMatrikkelenheterForOmraadeRequest">
		<wsdl:part name="selectionPolygon" type="Koordinat[]">
			<wsdl:documentation>Er en lukket kurve, første og siste punkt er likt.</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="koordinatsystem" type="tns:KoordinatsystemKode">
			<wsdl:documentation>koordinatsystem for området.</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="FinnMatrikkelenheterForOmraadeResponse">
		<wsdl:part name="return" type="matrikkelfellesns:Matrikkelnummer"/>
	</wsdl:message>
	<wsdl:message name="HentOmraadeForMatrikkelenhetRequest">
		<wsdl:part name="matrikkelnr" type="matrikkelfellesns:Matrikkelnummer"/>
	</wsdl:message>
	<wsdl:message name="HentOmraadeForMatrikkelenhetResponse">
		<wsdl:part name="return" type="kartgeometrins:Omraade"/>
	</wsdl:message>
	<wsdl:portType name="Matrikkelkart">
		<wsdl:operation name="HentOmraadeForMatrikkelenhet">
			<wsdl:input name="HentOmraadeForMatrikkelenhetRequestRequest" message="tns:HentOmraadeForMatrikkelenhetRequest"/>
			<wsdl:output name="HentOmraadeForMatrikkelenhetRequestResponse" message="tns:HentOmraadeForMatrikkelenhetResponse"/>
		</wsdl:operation>
		<wsdl:operation name="FinnMatrikkelenheterForOmraade">
			<wsdl:input name="FinnMatrikkelenheterForOmraadeRequestRequest" message="tns:FinnMatrikkelenheterForOmraadeRequest"/>
			<wsdl:output name="FinnMatrikkelenheterForOmraadeRequestResponse" message="tns:FinnMatrikkelenheterForOmraadeResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Matrikkelkart" type="tns:Matrikkelkart">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="HentOmraadeForMatrikkelenhet">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Matrikkel/Kart/Xml/Wsdl/20100615/#HentOmraadeForMatrikkelenhet" style="document"/>
			<wsdl:input name="HentOmraadeForMatrikkelenhetRequestRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentOmraadeForMatrikkelenhetRequestResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="FinnMatrikkelenheterForOmraade">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Matrikkel/Kart/Xml/Wsdl/20100615/#FinnMatrikkelenheterForOmraade" style="document"/>
			<wsdl:input name="FinnMatrikkelenheterForOmraadeRequestRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="FinnMatrikkelenheterForOmraadeRequestResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Kart">
		<wsdl:port name="Matrikkelkart" binding="tns:Matrikkelkart">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
