Felles/Teknisk/xml.schema/2011.09.27/giFellesTeknisk20110927.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.09.27" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.09.27" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2011.09.27" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2011.09.27" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2011.09.27" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2011.09.27" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2011.09.27" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.09.27" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.09.27" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.09.27" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2011.09.27" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.09.27" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2011.09.27" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2011.09.27" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2011.09.27" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2011.09.27" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2011.09.27" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2011.09.27" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.09.27" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2011.09.27" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2011.09.27" elementFormDefault="qualified" version="2011.09.27 - GeoIntegrasjon v1.1.0">
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.09.27" schemaLocation="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.09.27/giFellesGeometri20110927.xsd"/>
	<xs:element name="ApplicationFault" type="tns:ApplicationFault"/>
	<xs:complexType name="ApplicationFault">
		<xs:complexContent>
			<xs:extension base="tns:GeointegrasjonFault">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ArkivKontekst" type="tns:ArkivKontekst"/>
	<xs:complexType name="ArkivKontekst">
		<xs:complexContent>
			<xs:extension base="tns:Kontekst">
				<xs:sequence>
					<xs:element name="koordinatsystem" type="fellesgeometrins:KoordinatsystemKode" minOccurs="0" maxOccurs="1"/>
					<xs:element name="referanseoppsett" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FinderFault" type="tns:FinderFault"/>
	<xs:complexType name="FinderFault">
		<xs:complexContent>
			<xs:extension base="tns:ApplicationFault">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GeointegrasjonFault" type="tns:GeointegrasjonFault"/>
	<xs:complexType name="GeointegrasjonFault">
		<xs:sequence>
			<xs:element name="feilKode" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="feilBeskrivelse" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="feilDetaljer" type="tns:StringListe" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ImplementationFault" type="tns:ImplementationFault"/>
	<xs:complexType name="ImplementationFault">
		<xs:complexContent>
			<xs:extension base="tns:SystemFault">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Kontekst" type="tns:Kontekst"/>
	<xs:complexType name="Kontekst">
		<xs:sequence>
			<xs:element name="spraak" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="klientnavn" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="klientversjon" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="systemversjon" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MatrikkelKontekst" type="tns:MatrikkelKontekst"/>
	<xs:complexType name="MatrikkelKontekst">
		<xs:complexContent>
			<xs:extension base="tns:Kontekst">
				<xs:sequence>
					<xs:element name="koordinatsystem" type="fellesgeometrins:KoordinatsystemKode" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="OperationalFault" type="tns:OperationalFault"/>
	<xs:complexType name="OperationalFault">
		<xs:complexContent>
			<xs:extension base="tns:SystemFault">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PlanKontekst" type="tns:PlanKontekst"/>
	<xs:complexType name="PlanKontekst">
		<xs:complexContent>
			<xs:extension base="tns:Kontekst">
				<xs:sequence>
					<xs:element name="koordinatsystem" type="fellesgeometrins:KoordinatsystemKode" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="StringListe" type="tns:StringListe"/>
	<xs:complexType name="StringListe">
		<xs:sequence>
			<xs:element name="liste" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SystemFault" type="tns:SystemFault"/>
	<xs:complexType name="SystemFault">
		<xs:complexContent>
			<xs:extension base="tns:GeointegrasjonFault">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ValidationFault" type="tns:ValidationFault"/>
	<xs:complexType name="ValidationFault">
		<xs:complexContent>
			<xs:extension base="tns:ApplicationFault">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
