Arkiv/Basis/xml.wsdl/2011.02.18/giArkivBasis20110218.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ArkivBasis" targetNamespace="http://rep.geointegrasjon.no/Arkiv/Basis/xml.wsdl/2011.02.18" xmlns:tns="http://rep.geointegrasjon.no/Arkiv/Basis/xml.wsdl/2011.02.18" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://rep.geointegrasjon.no/Arkiv/Basis/xml.wsdl/2011.02.18" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://rep.geointegrasjon.no/Arkiv/Basis/xml.wsdl/2011.02.18" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2011.02.18" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2011.02.18" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2011.02.18" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2011.02.18" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2011.02.18" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.02.18" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.02.18" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.02.18" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2011.02.18" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2011.02.18" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2011.02.18" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2011.02.18" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2011.02.18" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2011.02.18" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2011.02.18" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.02.18" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2011.02.18" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2011.02.18">
			<xs:import namespace="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2011.02.18/giArkivKjerne20110218.xsd"/>
			<xs:import namespace="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2011.02.18/giArkivFelles20110218.xsd"/>
			<xs:import namespace="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2011.02.18/giArkivDokument20110218.xsd"/>
			<xs:import namespace="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.02.18/giFellesFilter20110218.xsd"/>
			<xs:import namespace="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18/giFellesTeknisk20110218.xsd"/>
			<xs:element name="FinnDokumenter" type="tns1:FinnDokumenter"/>
			<xs:complexType name="FinnDokumenter">
				<xs:sequence>
					<xs:element name="kontekst" type="fellestekniskns:ArkivKontekst" minOccurs="1" maxOccurs="1"/>
					<xs:element name="returnerFil" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
					<xs:element name="sok" type="fellesfilterns:SoekskriterieListe" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="FinnDokumenterResponse" type="tns1:FinnDokumenterResponse"/>
			<xs:complexType name="FinnDokumenterResponse">
				<xs:sequence>
					<xs:element name="return" type="arkivdokumentns:DokumentListe" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="FinnDokumenterFault" type="tns1:FinnDokumenterFault"/>
			<xs:complexType name="FinnDokumenterFault">
				<xs:sequence>
					<xs:element name="error" type="fellestekniskns:GeointegrasjonException" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="FinnDokumenterGittSaksnoekkel" type="tns1:FinnDokumenterGittSaksnoekkel"/>
			<xs:complexType name="FinnDokumenterGittSaksnoekkel">
				<xs:sequence>
					<xs:element name="kontekst" type="fellestekniskns:ArkivKontekst" minOccurs="1" maxOccurs="1"/>
					<xs:element name="saksnokkel" type="arkivfellesns:Saksnoekkel" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="FinnDokumenterGittSaksnoekkelResponse" type="tns1:FinnDokumenterGittSaksnoekkelResponse"/>
			<xs:complexType name="FinnDokumenterGittSaksnoekkelResponse">
				<xs:sequence>
					<xs:element name="return" type="arkivdokumentns:DokumentListe" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="FinnDokumenterGittSaksnoekkelFault" type="tns1:FinnDokumenterGittSaksnoekkelFault"/>
			<xs:complexType name="FinnDokumenterGittSaksnoekkelFault">
				<xs:sequence>
					<xs:element name="error" type="fellestekniskns:GeointegrasjonException" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="HentFil" type="tns1:HentFil"/>
			<xs:complexType name="HentFil">
				<xs:sequence>
					<xs:element name="kontekst" type="fellestekniskns:ArkivKontekst" minOccurs="1" maxOccurs="1"/>
					<xs:element name="systemid" type="arkivkjernens:SystemID" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="HentFilResponse" type="tns1:HentFilResponse"/>
			<xs:complexType name="HentFilResponse">
				<xs:sequence>
					<xs:element name="return" type="arkivdokumentns:Fil" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="HentFilFault" type="tns1:HentFilFault"/>
			<xs:complexType name="HentFilFault">
				<xs:sequence>
					<xs:element name="error" type="fellestekniskns:GeointegrasjonException" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="FinnDokumenterGittJournalpostnoekkel" type="tns1:FinnDokumenterGittJournalpostnoekkel"/>
			<xs:complexType name="FinnDokumenterGittJournalpostnoekkel">
				<xs:sequence>
					<xs:element name="kontekst" type="fellestekniskns:ArkivKontekst" minOccurs="1" maxOccurs="1"/>
					<xs:element name="journpostnokkel" type="arkivdokumentns:Journpostnoekkel" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="FinnDokumenterGittJournalpostnoekkelResponse" type="tns1:FinnDokumenterGittJournalpostnoekkelResponse"/>
			<xs:complexType name="FinnDokumenterGittJournalpostnoekkelResponse">
				<xs:sequence>
					<xs:element name="return" type="arkivdokumentns:DokumentListe" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="FinnDokumenterGittJournalpostnoekkelFault" type="tns1:FinnDokumenterGittJournalpostnoekkelFault"/>
			<xs:complexType name="FinnDokumenterGittJournalpostnoekkelFault">
				<xs:sequence>
					<xs:element name="error" type="fellestekniskns:GeointegrasjonException" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="FinnDokumenttyper" type="tns1:FinnDokumenttyper"/>
			<xs:complexType name="FinnDokumenttyper">
				<xs:sequence>
					<xs:element name="kontekst" type="fellestekniskns:ArkivKontekst" minOccurs="1" maxOccurs="1"/>
					<xs:element name="saksnummer" type="arkivfellesns:Saksnummer" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="FinnDokumenttyperResponse" type="tns1:FinnDokumenttyperResponse"/>
			<xs:complexType name="FinnDokumenttyperResponse">
				<xs:sequence>
					<xs:element name="return" type="arkivdokumentns:DokumenttypeListe" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="FinnDokumenttyperFault" type="tns1:FinnDokumenttyperFault"/>
			<xs:complexType name="FinnDokumenttyperFault">
				<xs:sequence>
					<xs:element name="error" type="fellestekniskns:GeointegrasjonException" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="FinnDokumenter">
		<wsdl:part name="arg" element="tns:FinnDokumenter"/>
	</wsdl:message>
	<wsdl:message name="FinnDokumenterResponse">
		<wsdl:part name="return" element="tns:FinnDokumenterResponse"/>
	</wsdl:message>
	<wsdl:message name="FinnDokumenterFault">
		<wsdl:part name="fault" element="tns:FinnDokumenterFault"/>
	</wsdl:message>
	<wsdl:message name="FinnDokumenterGittSaksnoekkel">
		<wsdl:part name="arg" element="tns:FinnDokumenterGittSaksnoekkel"/>
	</wsdl:message>
	<wsdl:message name="FinnDokumenterGittSaksnoekkelResponse">
		<wsdl:part name="return" element="tns:FinnDokumenterGittSaksnoekkelResponse"/>
	</wsdl:message>
	<wsdl:message name="FinnDokumenterGittSaksnoekkelFault">
		<wsdl:part name="fault" element="tns:FinnDokumenterGittSaksnoekkelFault"/>
	</wsdl:message>
	<wsdl:message name="HentFil">
		<wsdl:part name="arg" element="tns:HentFil"/>
	</wsdl:message>
	<wsdl:message name="HentFilResponse">
		<wsdl:part name="return" element="tns:HentFilResponse"/>
	</wsdl:message>
	<wsdl:message name="HentFilFault">
		<wsdl:part name="fault" element="tns:HentFilFault"/>
	</wsdl:message>
	<wsdl:message name="FinnDokumenterGittJournalpostnoekkel">
		<wsdl:part name="arg" element="tns:FinnDokumenterGittJournalpostnoekkel"/>
	</wsdl:message>
	<wsdl:message name="FinnDokumenterGittJournalpostnoekkelResponse">
		<wsdl:part name="return" element="tns:FinnDokumenterGittJournalpostnoekkelResponse"/>
	</wsdl:message>
	<wsdl:message name="FinnDokumenterGittJournalpostnoekkelFault">
		<wsdl:part name="fault" element="tns:FinnDokumenterGittJournalpostnoekkelFault"/>
	</wsdl:message>
	<wsdl:message name="FinnDokumenttyper">
		<wsdl:part name="arg" element="tns:FinnDokumenttyper"/>
	</wsdl:message>
	<wsdl:message name="FinnDokumenttyperResponse">
		<wsdl:part name="return" element="tns:FinnDokumenttyperResponse"/>
	</wsdl:message>
	<wsdl:message name="FinnDokumenttyperFault">
		<wsdl:part name="fault" element="tns:FinnDokumenttyperFault"/>
	</wsdl:message>
	<wsdl:portType name="ArkivBasis">
		<wsdl:operation name="FinnDokumenttyper">
			<wsdl:input name="FinnDokumenttyperGetRequest" message="tns:FinnDokumenttyper"/>
			<wsdl:output name="FinnDokumenttyperGetResponse" message="tns:FinnDokumenttyperResponse"/>
			<wsdl:fault name="FinnDokumenttyperFault" message="tns:FinnDokumenttyperFault"/>
		</wsdl:operation>
		<wsdl:operation name="FinnDokumenterGittJournalpostnoekkel">
			<wsdl:input name="FinnDokumenterGittJournalpostnoekkelGetRequest" message="tns:FinnDokumenterGittJournalpostnoekkel"/>
			<wsdl:output name="FinnDokumenterGittJournalpostnoekkelGetResponse" message="tns:FinnDokumenterGittJournalpostnoekkelResponse"/>
			<wsdl:fault name="FinnDokumenterGittJournalpostnoekkelFault" message="tns:FinnDokumenterGittJournalpostnoekkelFault"/>
		</wsdl:operation>
		<wsdl:operation name="HentFil">
			<wsdl:input name="HentFilGetRequest" message="tns:HentFil"/>
			<wsdl:output name="HentFilGetResponse" message="tns:HentFilResponse"/>
			<wsdl:fault name="HentFilFault" message="tns:HentFilFault"/>
		</wsdl:operation>
		<wsdl:operation name="FinnDokumenterGittSaksnoekkel">
			<wsdl:input name="FinnDokumenterGittSaksnoekkelGetRequest" message="tns:FinnDokumenterGittSaksnoekkel"/>
			<wsdl:output name="FinnDokumenterGittSaksnoekkelGetResponse" message="tns:FinnDokumenterGittSaksnoekkelResponse"/>
			<wsdl:fault name="FinnDokumenterGittSaksnoekkelFault" message="tns:FinnDokumenterGittSaksnoekkelFault"/>
		</wsdl:operation>
		<wsdl:operation name="FinnDokumenter">
			<wsdl:input name="FinnDokumenterGetRequest" message="tns:FinnDokumenter"/>
			<wsdl:output name="FinnDokumenterGetResponse" message="tns:FinnDokumenterResponse"/>
			<wsdl:fault name="FinnDokumenterFault" message="tns:FinnDokumenterFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ArkivBasis" type="tns:ArkivBasis">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="FinnDokumenttyper">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Arkiv/Basis/xml.wsdl/2011.02.18/#FinnDokumenttyper" style="document"/>
			<wsdl:input name="FinnDokumenttyperGetRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="FinnDokumenttyperGetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FinnDokumenttyperFault">
				<soap:fault name="FinnDokumenttyperFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="FinnDokumenterGittJournalpostnoekkel">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Arkiv/Basis/xml.wsdl/2011.02.18/#FinnDokumenterGittJournalpostnoekkel" style="document"/>
			<wsdl:input name="FinnDokumenterGittJournalpostnoekkelGetRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="FinnDokumenterGittJournalpostnoekkelGetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FinnDokumenterGittJournalpostnoekkelFault">
				<soap:fault name="FinnDokumenterGittJournalpostnoekkelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="HentFil">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Arkiv/Basis/xml.wsdl/2011.02.18/#HentFil" style="document"/>
			<wsdl:input name="HentFilGetRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentFilGetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="HentFilFault">
				<soap:fault name="HentFilFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="FinnDokumenterGittSaksnoekkel">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Arkiv/Basis/xml.wsdl/2011.02.18/#FinnDokumenterGittSaksnoekkel" style="document"/>
			<wsdl:input name="FinnDokumenterGittSaksnoekkelGetRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="FinnDokumenterGittSaksnoekkelGetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FinnDokumenterGittSaksnoekkelFault">
				<soap:fault name="FinnDokumenterGittSaksnoekkelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="FinnDokumenter">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Arkiv/Basis/xml.wsdl/2011.02.18/#FinnDokumenter" style="document"/>
			<wsdl:input name="FinnDokumenterGetRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="FinnDokumenterGetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FinnDokumenterFault">
				<soap:fault name="FinnDokumenterFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Basis">
		<wsdl:port name="ArkivBasis" binding="tns:ArkivBasis">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
