Skjema/Byggesak/xml.schema/2011.09.27/giSkjemaByggesak20110927.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2011.09.27" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2011.09.27" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2011.09.27" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2011.09.27" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2011.09.27" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2011.09.27" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2011.09.27" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.09.27" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.09.27" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.09.27" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2011.09.27" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.09.27" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2011.09.27" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2011.09.27" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2011.09.27" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2011.09.27" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2011.09.27" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2011.09.27" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.09.27" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2011.09.27" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2011.09.27" elementFormDefault="qualified" version="2011.09.27 - GeoIntegrasjon v1.1.0">
	<xs:import namespace="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2011.09.27" schemaLocation="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2011.09.27/giPlanUtvidet20110927.xsd"/>
	<xs:import namespace="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2011.09.27" schemaLocation="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2011.09.27/giMatrikkelBasis20110927.xsd"/>
	<xs:import namespace="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.09.27" schemaLocation="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.09.27/giMatrikkelFelles20110927.xsd"/>
	<xs:element name="Eiendomsopplysninger" type="tns:Eiendomsopplysninger"/>
	<xs:complexType name="Eiendomsopplysninger">
		<xs:sequence>
			<xs:element name="matrikkelnr" type="matrikkelfellesns:Matrikkelnummer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="adresse" type="matrikkelbasisns:Adresse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="bygningsnr" type="matrikkelfellesns:ByggIdent" minOccurs="0" maxOccurs="1"/>
			<xs:element name="bolignummer" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="andreMatrikkelnr" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PlanopplysningerListe" type="tns:PlanopplysningerListe"/>
	<xs:complexType name="PlanopplysningerListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Planopplysninger" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Planopplysninger" type="tns:Planopplysninger"/>
	<xs:complexType name="Planopplysninger">
		<xs:sequence>
			<xs:element name="plan" type="planutvidetns:Arealplan" minOccurs="1" maxOccurs="1"/>
			<xs:element name="formaal" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="utnyttingsgrad" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
			<xs:element name="andreRelevanteKrav" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="relatertMatrikkelnr" type="matrikkelfellesns:Matrikkelnummer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
