Felles/Adresse/Xml/Schema/20101222/giFellesAdresse20101222.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Felles/Adresse/Xml/Schema/20101222" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Felles/Adresse/Xml/Schema/20101222" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/Xml/Schema/20101222" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/Xml/Schema/20101222" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Schema/20101222" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/Xml/Schema/20101222" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/Xml/Schema/20101222" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/Xml/Schema/20101222" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/Xml/Schema/20101222" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/Xml/Schema/20101222" xmlns:fellesfeilns="http://rep.geointegrasjon.no/Felles/Feil/Xml/Schema/20101222" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/Xml/Schema/20101222" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/Xml/Schema/20101222" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/Xml/Schema/20101222" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/Xml/Schema/20101222" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/Xml/Schema/20101222" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/Xml/Schema/20101222" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20101222" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Schema/20101222" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/Xml/Schema/20101222" elementFormDefault="qualified" version="20101222 - GeoIntegrasjon v0.97">
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Kodeliste/Xml/Schema/20101222" schemaLocation="http://rep.geointegrasjon.no/Felles/Kodeliste/Xml/Schema/20101222/giFellesKodeliste20101222.xsd"/>
	<xs:element name="ElektroniskAdresseListe" type="tns:ElektroniskAdresseListe"/>
	<xs:complexType name="ElektroniskAdresseListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:ElektroniskAdresse" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ElektroniskAdresse" type="tns:ElektroniskAdresse"/>
	<xs:complexType name="ElektroniskAdresse">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="EnkelAdresseListe" type="tns:EnkelAdresseListe"/>
	<xs:complexType name="EnkelAdresseListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:EnkelAdresse" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EnkelAdresse" type="tns:EnkelAdresse"/>
	<xs:complexType name="EnkelAdresse">
		<xs:annotation>
			<xs:documentation>For en mer komplett adressestruktur se GI/Matrikkel/Adresse (Vegadresse og Matrikkeladresse). Kalt EnkelAdresse for å ikke bli misforstått med Matrikkelen sin mer detaljerte adressestruktur</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="adressetype" type="tns:EnkelAdressetype" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Angir om det er postadresse, besøksadresse, fakturaadresse, mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="adresselinje1" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="adresselinje2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="postadresse" type="tns:PostadministrativeOmraader" minOccurs="0" maxOccurs="1"/>
			<xs:element name="landkode" type="tns:Landkode" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EnkelAdressetype" type="tns:EnkelAdressetype"/>
	<xs:complexType name="EnkelAdressetype">
		<xs:annotation>
			<xs:documentation>Besøksadresse
    Fakturaadresse
    Postadresse
    Jobbadresse
    MidlertidigAdresse
    Ferieadresse</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Epostadresse" type="tns:Epostadresse"/>
	<xs:complexType name="Epostadresse">
		<xs:complexContent>
			<xs:extension base="tns:ElektroniskAdresse">
				<xs:sequence>
					<xs:element name="epostadresse" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Faksnummer" type="tns:Faksnummer"/>
	<xs:complexType name="Faksnummer">
		<xs:complexContent>
			<xs:extension base="tns:ElektroniskAdresse">
				<xs:sequence>
					<xs:element name="faksnummer" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Landkode" type="tns:Landkode"/>
	<xs:complexType name="Landkode">
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PostadministrativeOmraader" type="tns:PostadministrativeOmraader"/>
	<xs:complexType name="PostadministrativeOmraader">
		<xs:annotation>
			<xs:documentation>Fra grunndatamodellen i SERES</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="postnummer" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poststed" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Telefonnummer" type="tns:Telefonnummer"/>
	<xs:complexType name="Telefonnummer">
		<xs:complexContent>
			<xs:extension base="tns:ElektroniskAdresse">
				<xs:sequence>
					<xs:element name="telefonnummer" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
