Sak/Skjema/xml.wsdl/2011.02.18/giSakSkjema20110218.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SakSkjema" targetNamespace="http://rep.geointegrasjon.no/Sak/Skjema/xml.wsdl/2011.02.18" xmlns:tns="http://rep.geointegrasjon.no/Sak/Skjema/xml.wsdl/2011.02.18" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xs:schema targetNamespace="http://rep.geointegrasjon.no/Sak/Skjema/xml.wsdl/2011.02.18" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://rep.geointegrasjon.no/Sak/Skjema/xml.wsdl/2011.02.18" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2011.02.18" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2011.02.18" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2011.02.18" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2011.02.18" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2011.02.18" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.02.18" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.02.18" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.02.18" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2011.02.18" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2011.02.18" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2011.02.18" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2011.02.18" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2011.02.18" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2011.02.18" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2011.02.18" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.02.18" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2011.02.18" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2011.02.18" elementFormDefault="qualified">
			<xs:import namespace="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18/giFellesTeknisk20110218.xsd"/>
			<xs:import namespace="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2011.02.18/giArkivKjerne20110218.xsd"/>
			<xs:import namespace="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2011.02.18/giSakSkjema20110218.xsd"/>
			<xs:element name="NySoeknad">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="skjemainfo" type="sakskjemans:Skjemainformasjon" minOccurs="0" maxOccurs="1" nillable="true"/>
						<xs:element name="arkivdata" type="arkivkjernens:Saksmappe" minOccurs="0" maxOccurs="1" nillable="true"/>
						<xs:element name="fagsystemdataksresultatxml" type="xs:base64Binary" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NySoeknadResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NySoeknadFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="error" type="fellestekniskns:GeointegrasjonException" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="NySoeknadMessage">
		<wsdl:part name="parameters" element="tns:NySoeknad"/>
	</wsdl:message>
	<wsdl:message name="NySoeknadResponseMessage">
		<wsdl:part name="parameters" element="tns:NySoeknadResponse"/>
	</wsdl:message>
	<wsdl:message name="NySoeknadFaultMessage">
		<wsdl:part name="fault" element="tns:NySoeknadFault"/>
	</wsdl:message>
	<wsdl:portType name="SkjemaMottak">
		<wsdl:operation name="NySoeknad">
			<wsdl:input name="NySoeknad" message="tns:NySoeknadMessage"/>
			<wsdl:output name="NySoeknadResponse" message="tns:NySoeknadResponseMessage"/>
			<wsdl:fault name="NySoeknadFault" message="tns:NySoeknadFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SkjemaMottak" type="tns:SkjemaMottak">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="NySoeknad">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Sak/Skjema/xml.wsdl/2011.02.18/#NySoeknad" style="document"/>
			<wsdl:input name="NySoeknad">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="NySoeknadResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="NySoeknadFault">
				<soap:fault name="NySoeknadFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Skjema">
		<wsdl:port name="SkjemaMottak" binding="tns:SkjemaMottak">
			<soap:address location="http://www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
