Felles/Organisasjon/Xml/Schema/20100615/giFellesOrganisasjon20100615.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Felles/Organisasjon/Xml/Schema/20100615" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Felles/Adresse/Xml/Schema/20100615" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/Xml/Schema/20100615" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/Xml/Schema/20100615" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Schema/20100615" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/Xml/Schema/20100615" xmlns:kartgeometrins="http://rep.geointegrasjon.no/Kart/Geometri/Xml/Schema/20100615" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/Xml/Schema/20100615" xmlns:arkivindrekjernens="http://rep.geointegrasjon.no/Arkiv/IndreKjerne/Xml/Schema/20100615" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/Xml/Schema/20100615" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20100615" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Schema/20100615" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/Xml/Schema/20100615" elementFormDefault="qualified" version="20100615 - GeoIntegrasjon v1.0">
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Kontakt/Xml/Schema/20100615" schemaLocation="http://rep.geointegrasjon.no/Felles/Kontakt/Xml/Schema/20100615/giFellesKontakt20100615.xsd"/>
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Adresse/Xml/Schema/20100615" schemaLocation="http://rep.geointegrasjon.no/Felles/Adresse/Xml/Schema/20100615/giFellesAdresse20100615.xsd"/>
	<xs:element name="Organisasjon" type="tns:Organisasjon"/>
	<xs:complexType name="Organisasjon">
		<xs:complexContent>
			<xs:extension base="felleskontaktns:Kontakt">
				<xs:sequence>
					<xs:element name="Orgnr" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Organisasjonsnavn" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Dato" type="tns:Dato" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
