Skjema/Byggesak/xml.schema/2012.01.31/giSkjemaByggesak20120131.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2012.01.31" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2012.01.31" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2012.01.31" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2012.01.31" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2012.01.31" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2012.01.31" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2012.01.31" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2012.01.31" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2012.01.31" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2012.01.31" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2012.01.31" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2012.01.31" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2012.01.31" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2012.01.31" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2012.01.31" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2012.01.31" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2012.01.31" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2012.01.31" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2012.01.31" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2012.01.31" elementFormDefault="qualified" version="2012.01.31 - GeoIntegrasjon v1.1.0">
	<xs:import namespace="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2012.01.31/giPlanUtvidet20120131.xsd"/>
	<xs:import namespace="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2012.01.31/giMatrikkelBasis20120131.xsd"/>
	<xs:import namespace="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2012.01.31/giMatrikkelFelles20120131.xsd"/>
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2012.01.31/giFellesKodeliste20120131.xsd"/>
	<xs:element name="UtnyttingstypeListe" type="tns:UtnyttingstypeListe"/>
	<xs:complexType name="UtnyttingstypeListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Utnyttingstype" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Utnyttingstype" type="tns:Utnyttingstype"/>
	<xs:complexType name="Utnyttingstype">
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="UtnyttingListe" type="tns:UtnyttingListe"/>
	<xs:complexType name="UtnyttingListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Utnytting" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Utnytting" type="tns:Utnytting"/>
	<xs:complexType name="Utnytting">
		<xs:sequence>
			<xs:element name="utnyttingstype" type="tns:Utnyttingstype" minOccurs="1" maxOccurs="1"/>
			<xs:element name="utnyttingstall" type="xs:integer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArealbrukListe" type="tns:ArealbrukListe"/>
	<xs:complexType name="ArealbrukListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Arealbruk" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Arealbruk" type="tns:Arealbruk"/>
	<xs:complexType name="Arealbruk">
		<xs:sequence>
			<xs:element name="utnytting" type="tns:Utnytting" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Eiendomsopplysninger" type="tns:Eiendomsopplysninger"/>
	<xs:complexType name="Eiendomsopplysninger">
		<xs:sequence>
			<xs:element name="matrikkelnr" type="matrikkelfellesns:Matrikkelnummer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="adresse" type="matrikkelbasisns:Adresse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="bygningsnr" type="matrikkelfellesns:ByggIdent" minOccurs="0" maxOccurs="1"/>
			<xs:element name="bolignummer" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="andreMatrikkelnr" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PlanopplysningerListe" type="tns:PlanopplysningerListe"/>
	<xs:complexType name="PlanopplysningerListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Planopplysninger" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Planopplysninger" type="tns:Planopplysninger"/>
	<xs:complexType name="Planopplysninger">
		<xs:sequence>
			<xs:element name="plan" type="planutvidetns:Arealplan" minOccurs="1" maxOccurs="1"/>
			<xs:element name="formaal" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="utnyttingsgrad" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
			<xs:element name="andreRelevanteKrav" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Arealbruk" type="tns:Arealbruk" minOccurs="0" maxOccurs="1"/>
			<xs:element name="relatertMatrikkelnr" type="matrikkelfellesns:Matrikkelnummer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
