Felles/Adresse/Xml/Schema/20101001/giFellesAdresse20101001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Felles/Adresse/Xml/Schema/20101001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Felles/Adresse/Xml/Schema/20101001" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/Xml/Schema/20101001" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/Xml/Schema/20101001" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Schema/20101001" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/Xml/Schema/20101001" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/Xml/Schema/20101001" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/Xml/Schema/20101001" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/Xml/Schema/20101001" xmlns:fellesorganisasjonns="http://rep.geointegrasjon.no/Felles/Organisasjon/Xml/Schema/20101001" xmlns:fellespersonns="http://rep.geointegrasjon.no/Felles/Person/Xml/Schema/20101001" xmlns:fellesfeilns="http://rep.geointegrasjon.no/Felles/Feil/Xml/Schema/20101001" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/Xml/Schema/20101001" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/Xml/Schema/20101001" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/Xml/Schema/20101001" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/Xml/Schema/20101001" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/Xml/Schema/20101001" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20101001" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Schema/20101001" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/Xml/Schema/20101001" elementFormDefault="qualified" version="20101001 - GeoIntegrasjon v0.96">
	<xs:element name="AdresseListe" type="tns:AdresseListe"/>
	<xs:complexType name="AdresseListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Adresse" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Adresse" type="tns:Adresse"/>
	<xs:complexType name="Adresse">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="ElektroniskAdresse" type="tns:ElektroniskAdresse"/>
	<xs:complexType name="ElektroniskAdresse">
		<xs:complexContent>
			<xs:extension base="tns:Adresse">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Epostadresse" type="tns:Epostadresse"/>
	<xs:complexType name="Epostadresse">
		<xs:complexContent>
			<xs:extension base="tns:ElektroniskAdresse">
				<xs:sequence>
					<xs:element name="epostadresse" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Faksnummer" type="tns:Faksnummer"/>
	<xs:complexType name="Faksnummer">
		<xs:complexContent>
			<xs:extension base="tns:ElektroniskAdresse">
				<xs:sequence>
					<xs:element name="faksnummer" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Gateadresse" type="tns:Gateadresse"/>
	<xs:complexType name="Gateadresse">
		<xs:annotation>
			<xs:documentation>Fra grunndatamodellen i SERES. Merk avvik: gateadresseid er tatt bort. I stedet tillates husnummer og bokstav i gatenavn</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:Adresse">
				<xs:sequence>
					<xs:element name="gatenavn" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="postadresse" type="tns:PostadministrativeOmraader" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PostadministrativeOmraader" type="tns:PostadministrativeOmraader"/>
	<xs:complexType name="PostadministrativeOmraader">
		<xs:annotation>
			<xs:documentation>Fra grunndatamodellen i SERES</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="postnummer" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poststed" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Telefonnummer" type="tns:Telefonnummer"/>
	<xs:complexType name="Telefonnummer">
		<xs:complexContent>
			<xs:extension base="tns:ElektroniskAdresse">
				<xs:sequence>
					<xs:element name="telefonnummer" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
