Felles/Adresse/xml.schema/2011.02.18/giFellesAdresse20110218.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2011.02.18" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2011.02.18" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2011.02.18" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2011.02.18" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2011.02.18" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2011.02.18" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2011.02.18" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.02.18" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.02.18" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.02.18" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2011.02.18" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2011.02.18" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2011.02.18" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2011.02.18" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2011.02.18" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2011.02.18" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2011.02.18" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.02.18" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2011.02.18" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2011.02.18" elementFormDefault="qualified" version="2011.02.18 - GeoIntegrasjon v1.00.0">
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.02.18/giFellesKodeliste20110218.xsd"/>
	<xs:element name="ElektroniskAdresseListe" type="tns:ElektroniskAdresseListe"/>
	<xs:complexType name="ElektroniskAdresseListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:ElektroniskAdresse" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ElektroniskAdresse" type="tns:ElektroniskAdresse"/>
	<xs:complexType name="ElektroniskAdresse">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="EnkelAdresseListe" type="tns:EnkelAdresseListe"/>
	<xs:complexType name="EnkelAdresseListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:EnkelAdresse" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EnkelAdresse" type="tns:EnkelAdresse"/>
	<xs:complexType name="EnkelAdresse">
		
		<xs:sequence>
			<xs:element name="adressetype" type="tns:EnkelAdressetype" minOccurs="1" maxOccurs="1"/>
			<xs:element name="adresselinje1" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="adresselinje2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="postadresse" type="tns:PostadministrativeOmraader" minOccurs="0" maxOccurs="1"/>
			<xs:element name="landkode" type="tns:Landkode" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EnkelAdressetype" type="tns:EnkelAdressetype"/>
	<xs:complexType name="EnkelAdressetype">
		
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Epostadresse" type="tns:Epostadresse"/>
	<xs:complexType name="Epostadresse">
		<xs:complexContent>
			<xs:extension base="tns:ElektroniskAdresse">
				<xs:sequence>
					<xs:element name="epostadresse" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Faksnummer" type="tns:Faksnummer"/>
	<xs:complexType name="Faksnummer">
		<xs:complexContent>
			<xs:extension base="tns:ElektroniskAdresse">
				<xs:sequence>
					<xs:element name="faksnummer" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Landkode" type="tns:Landkode"/>
	<xs:complexType name="Landkode">
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PostadministrativeOmraader" type="tns:PostadministrativeOmraader"/>
	<xs:complexType name="PostadministrativeOmraader">
		
		<xs:sequence>
			<xs:element name="postnummer" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poststed" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Telefonnummer" type="tns:Telefonnummer"/>
	<xs:complexType name="Telefonnummer">
		<xs:complexContent>
			<xs:extension base="tns:ElektroniskAdresse">
				<xs:sequence>
					<xs:element name="telefonnummer" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
