Plan/Basis/Xml/Schema/20101001/giPlanBasis20101001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Plan/Basis/Xml/Schema/20101001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Plan/Basis/Xml/Schema/20101001" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/Xml/Schema/20101001" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/Xml/Schema/20101001" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Schema/20101001" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/Xml/Schema/20101001" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/Xml/Schema/20101001" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/Xml/Schema/20101001" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/Xml/Schema/20101001" xmlns:fellesorganisasjonns="http://rep.geointegrasjon.no/Felles/Organisasjon/Xml/Schema/20101001" xmlns:fellespersonns="http://rep.geointegrasjon.no/Felles/Person/Xml/Schema/20101001" xmlns:fellesfeilns="http://rep.geointegrasjon.no/Felles/Feil/Xml/Schema/20101001" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/Xml/Schema/20101001" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/Xml/Schema/20101001" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/Xml/Schema/20101001" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/Xml/Schema/20101001" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/Xml/Schema/20101001" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20101001" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Schema/20101001" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/Xml/Schema/20101001" elementFormDefault="qualified" version="20101001 - GeoIntegrasjon v0.96">
	<xs:import namespace="http://rep.geointegrasjon.no/Plan/Felles/Xml/Schema/20101001" schemaLocation="http://rep.geointegrasjon.no/Plan/Felles/Xml/Schema/20101001/giPlanFelles20101001.xsd"/>
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Kodeliste/Xml/Schema/20101001" schemaLocation="http://rep.geointegrasjon.no/Felles/Kodeliste/Xml/Schema/20101001/giFellesKodeliste20101001.xsd"/>
	<xs:element name="ArealplanBaseListe" type="tns:ArealplanBaseListe"/>
	<xs:complexType name="ArealplanBaseListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:ArealplanBase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArealplanBase" type="tns:ArealplanBase"/>
	<xs:complexType name="ArealplanBase">
		<xs:sequence>
			<xs:element name="arealplanId" type="planfellesns:NasjonalArealplanId" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>entydig identifikasjon for en plan innen en kommune eller et fylke (pbl. § 19-1, 6. ledd, § 20-1, 2. ledd og 5. ledd og § 22 og § 28-2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="plannavn" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>planens navn (pbl. § 19-1, 6. ledd, § 20-1, 2. ledd og 5. ledd og § 22 og § 28-2)
      </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="planType" type="tns:Plantype" minOccurs="1" maxOccurs="1"/>
			<xs:element name="planstatus" type="tns:Planstatus" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vedtaksDato" type="xs:date" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PlanstatusListe" type="tns:PlanstatusListe"/>
	<xs:complexType name="PlanstatusListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Planstatus" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Planstatus" type="tns:Planstatus"/>
	<xs:complexType name="Planstatus">
		<xs:annotation>
			<xs:documentation>planens behandling (pbl. §§ 19-4, 20-5, 27-1, 27-2, 28-1 og 28-2) samt planens virkning (pbl. §§ 19-6, 20-6, 28-2 og 31)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Plantype" type="tns:Plantype"/>
	<xs:complexType name="Plantype">
		<xs:annotation>
			<xs:documentation>type plan (pbl. § 19-1, 6. ledd, § 20-1, 2. ledd og 5. ledd og § 22 og § 28-2)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
