Plan/Basis/xml.wsdl/2011.02.18/giPlanBasis20110218.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PlanBasis" targetNamespace="http://rep.geointegrasjon.no/Plan/Basis/xml.wsdl/2011.02.18" xmlns:tns="http://rep.geointegrasjon.no/Plan/Basis/xml.wsdl/2011.02.18" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xs:schema targetNamespace="http://rep.geointegrasjon.no/Plan/Basis/xml.wsdl/2011.02.18" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://rep.geointegrasjon.no/Plan/Basis/xml.wsdl/2011.02.18" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2011.02.18" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2011.02.18" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2011.02.18" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2011.02.18" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2011.02.18" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.02.18" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.02.18" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.02.18" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2011.02.18" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2011.02.18" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2011.02.18" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2011.02.18" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2011.02.18" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2011.02.18" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2011.02.18" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.02.18" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2011.02.18" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2011.02.18" elementFormDefault="qualified">
			<xs:import namespace="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.02.18/giMatrikkelFelles20110218.xsd"/>
			<xs:import namespace="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2011.02.18/giPlanBasis20110218.xsd"/>
			<xs:import namespace="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18/giFellesTeknisk20110218.xsd"/>
			<xs:import namespace="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.02.18/giFellesFilter20110218.xsd"/>
			<xs:element name="FinnPlaner">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sok" type="fellesfilterns:SoekskriterieListe" minOccurs="0" maxOccurs="1" nillable="true"/>
						<xs:element name="kontekst" type="fellestekniskns:PlanKontekst" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FinnPlanerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="planbasisns:ArealplanBaseListe" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FinnPlanerFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="error" type="fellestekniskns:GeointegrasjonException" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FinnPlanerForMatrikkelenhet">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="matrikkelnr" type="matrikkelfellesns:Matrikkelnummer" minOccurs="0" maxOccurs="1" nillable="true"/>
						<xs:element name="kontekst" type="fellestekniskns:PlanKontekst" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FinnPlanerForMatrikkelenhetResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="planbasisns:ArealplanBaseListe" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FinnPlanerForMatrikkelenhetFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="error" type="fellestekniskns:GeointegrasjonException" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="FinnPlanerMessage">
		<wsdl:part name="parameters" element="tns:FinnPlaner"/>
	</wsdl:message>
	<wsdl:message name="FinnPlanerResponseMessage">
		<wsdl:part name="parameters" element="tns:FinnPlanerResponse"/>
	</wsdl:message>
	<wsdl:message name="FinnPlanerFaultMessage">
		<wsdl:part name="fault" element="tns:FinnPlanerFault"/>
	</wsdl:message>
	<wsdl:message name="FinnPlanerForMatrikkelenhetMessage">
		<wsdl:part name="parameters" element="tns:FinnPlanerForMatrikkelenhet"/>
	</wsdl:message>
	<wsdl:message name="FinnPlanerForMatrikkelenhetResponseMessage">
		<wsdl:part name="parameters" element="tns:FinnPlanerForMatrikkelenhetResponse"/>
	</wsdl:message>
	<wsdl:message name="FinnPlanerForMatrikkelenhetFaultMessage">
		<wsdl:part name="fault" element="tns:FinnPlanerForMatrikkelenhetFault"/>
	</wsdl:message>
	<wsdl:portType name="PlanBasis">
		<wsdl:operation name="FinnPlanerForMatrikkelenhet">
			<wsdl:input name="FinnPlanerForMatrikkelenhet" message="tns:FinnPlanerForMatrikkelenhetMessage"/>
			<wsdl:output name="FinnPlanerForMatrikkelenhetResponse" message="tns:FinnPlanerForMatrikkelenhetResponseMessage"/>
			<wsdl:fault name="FinnPlanerForMatrikkelenhetFault" message="tns:FinnPlanerForMatrikkelenhetFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="FinnPlaner">
			<wsdl:input name="FinnPlaner" message="tns:FinnPlanerMessage"/>
			<wsdl:output name="FinnPlanerResponse" message="tns:FinnPlanerResponseMessage"/>
			<wsdl:fault name="FinnPlanerFault" message="tns:FinnPlanerFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PlanBasis" type="tns:PlanBasis">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="FinnPlanerForMatrikkelenhet">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Plan/Basis/xml.wsdl/2011.02.18/#FinnPlanerForMatrikkelenhet" style="document"/>
			<wsdl:input name="FinnPlanerForMatrikkelenhet">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="FinnPlanerForMatrikkelenhetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FinnPlanerForMatrikkelenhetFault">
				<soap:fault name="FinnPlanerForMatrikkelenhetFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="FinnPlaner">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Plan/Basis/xml.wsdl/2011.02.18/#FinnPlaner" style="document"/>
			<wsdl:input name="FinnPlaner">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="FinnPlanerResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FinnPlanerFault">
				<soap:fault name="FinnPlanerFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Basis">
		<wsdl:port name="PlanBasis" binding="tns:PlanBasis">
			<soap:address location="http://www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
