Felles/Filter/xml.schema/2011.02.18/giFellesFilter20110218.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.02.18" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.02.18" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2011.02.18" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2011.02.18" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2011.02.18" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2011.02.18" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2011.02.18" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.02.18" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.02.18" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.02.18" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2011.02.18" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2011.02.18" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2011.02.18" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2011.02.18" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2011.02.18" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2011.02.18" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2011.02.18" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.02.18" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2011.02.18" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2011.02.18" elementFormDefault="qualified" version="2011.02.18 - GeoIntegrasjon v1.00.0">
  <xs:import namespace="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.02.18/giFellesGeometri20110218.xsd"/>
	<xs:element name="Ansvarlig" type="tns:Ansvarlig"/>
	<xs:complexType name="Ansvarlig">
		
		<xs:complexContent>
			<xs:extension base="tns:Kriterie">
				<xs:sequence>
					<xs:element name="eier" type="tns:AnsvarligEnum" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AnsvarligEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EGEN"/>
			<xs:enumeration value="EGENENHET"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SoekeOperatorEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LT"/>
			<xs:enumeration value="LE"/>
			<xs:enumeration value="EQ"/>
			<xs:enumeration value="GE"/>
			<xs:enumeration value="GT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Soekefelt" type="tns:Soekefelt"/>
	<xs:complexType name="Soekefelt">
		
		<xs:complexContent>
			<xs:extension base="tns:Kriterie">
				<xs:sequence>
					<xs:element name="feltnavn" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="feltverdi" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SoekskriterieListe" type="tns:SoekskriterieListe"/>
	<xs:complexType name="SoekskriterieListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Soekskriterie" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Soekskriterie" type="tns:Soekskriterie"/>
	<xs:complexType name="Soekskriterie">
		
		<xs:sequence>
			<xs:element name="operator" type="tns:SoekeOperatorEnum" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Kriterie" type="tns:Kriterie" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BboxKriterie" type="tns:BboxKriterie"/>
	<xs:complexType name="BboxKriterie">
		<xs:complexContent>
			<xs:extension base="tns:Kriterie">
				<xs:sequence>
					<xs:element name="bbox" type="fellesgeometrins:Bbox" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Kriterie" type="tns:Kriterie"/>
	<xs:complexType name="Kriterie" abstract="true">
		<xs:sequence/>
	</xs:complexType>
</xs:schema>
