Plan/Utvidet/Xml/Wsdl/20100915/giPlanUtvidet20100915.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PlanUtvidet" targetNamespace="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Wsdl/20100915" xmlns:tns="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Wsdl/20100915" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/Xml/Schema/20100915" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/Xml/Schema/20100915" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Schema/20100915" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/Xml/Schema/20100915" xmlns:kartgeometrins="http://rep.geointegrasjon.no/Kart/Geometri/Xml/Schema/20100915" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/Xml/Schema/20100915" xmlns:arkivindrekjernens="http://rep.geointegrasjon.no/Arkiv/IndreKjerne/Xml/Schema/20100915" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/Xml/Schema/20100915" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20100915" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Schema/20100915" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/Xml/Schema/20100915 ">
	<wsdl:import namespace="http://rep.geointegrasjon.no/Arkiv/Felles/Xml/Schema/20100915" location="http://rep.geointegrasjon.no/Arkiv/Felles/Xml/Schema/20100915/giArkivFelles20100915.xsd"/>
	<wsdl:import namespace="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Schema/20100915" location="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Schema/20100915/giPlanUtvidet20100915.xsd"/>
	<wsdl:import namespace="http://rep.geointegrasjon.no/Plan/Felles/Xml/Schema/20100915" location="http://rep.geointegrasjon.no/Plan/Felles/Xml/Schema/20100915/giPlanFelles20100915.xsd"/>
	<wsdl:types/>
	<wsdl:message name="HentPlanRequest">
		<wsdl:part name="planident" type="planfellesns:NasjonalArealplanId"/>
	</wsdl:message>
	<wsdl:message name="HentPlanResponse">
		<wsdl:part name="return" type="planutvidetns:Arealplan"/>
	</wsdl:message>
	<wsdl:message name="HentPlandokumenterRequest">
		<wsdl:part name="dokumentKategori" type="string[]"/>
		<wsdl:part name="planident" type="planfellesns:NasjonalArealplanId"/>
	</wsdl:message>
	<wsdl:message name="HentPlandokumenterResponse">
		<wsdl:part name="return" type="planutvidetns:Plandokument"/>
	</wsdl:message>
	<wsdl:message name="FinnDispensasjonerRequest">
		<wsdl:part name="tilDato" type="xs:Date"/>
		<wsdl:part name="fraDato" type="xs:Date"/>
		<wsdl:part name="planid" type="planfellesns:NasjonalArealplanId"/>
	</wsdl:message>
	<wsdl:message name="FinnDispensasjonerResponse">
		<wsdl:part name="return" type="planutvidetns:Dispensasjon"/>
	</wsdl:message>
	<wsdl:message name="HentMindreEndringerRequest">
		<wsdl:part name="planid" type="planfellesns:NasjonalArealplanId"/>
	</wsdl:message>
	<wsdl:message name="HentMindreEndringerResponse">
		<wsdl:part name="return" type="planutvidetns:MindreEndring"/>
	</wsdl:message>
	<wsdl:message name="HentGjeldendePlanbestemmelserRequest">
		<wsdl:part name="planid" type="planfellesns:NasjonalArealplanId"/>
	</wsdl:message>
	<wsdl:message name="HentGjeldendePlanbestemmelserResponse">
		<wsdl:part name="return" type="planutvidetns:Plandokument"/>
	</wsdl:message>
	<wsdl:message name="HentAktoererRequest">
		<wsdl:part name="saksnummer" type="arkivfellesns:Saksnummer"/>
	</wsdl:message>
	<wsdl:message name="HentAktoererResponse">
		<wsdl:part name="return" type="planutvidetns:Aktoer"/>
	</wsdl:message>
	<wsdl:portType name="PlanregUtvidet">
		<wsdl:operation name="HentAktoerer">
			<wsdl:input name="HentAktoererRequestRequest" message="tns:HentAktoererRequest"/>
			<wsdl:output name="HentAktoererRequestResponse" message="tns:HentAktoererResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HentGjeldendePlanbestemmelser">
			<wsdl:input name="HentGjeldendePlanbestemmelserRequestRequest" message="tns:HentGjeldendePlanbestemmelserRequest"/>
			<wsdl:output name="HentGjeldendePlanbestemmelserRequestResponse" message="tns:HentGjeldendePlanbestemmelserResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HentMindreEndringer">
			<wsdl:input name="HentMindreEndringerRequestRequest" message="tns:HentMindreEndringerRequest"/>
			<wsdl:output name="HentMindreEndringerRequestResponse" message="tns:HentMindreEndringerResponse"/>
		</wsdl:operation>
		<wsdl:operation name="FinnDispensasjoner">
			<wsdl:input name="FinnDispensasjonerRequestRequest" message="tns:FinnDispensasjonerRequest"/>
			<wsdl:output name="FinnDispensasjonerRequestResponse" message="tns:FinnDispensasjonerResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HentPlandokumenter">
			<wsdl:input name="HentPlandokumenterRequestRequest" message="tns:HentPlandokumenterRequest"/>
			<wsdl:output name="HentPlandokumenterRequestResponse" message="tns:HentPlandokumenterResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HentPlan">
			<wsdl:input name="HentPlanRequestRequest" message="tns:HentPlanRequest"/>
			<wsdl:output name="HentPlanRequestResponse" message="tns:HentPlanResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PlanregUtvidet" type="tns:PlanregUtvidet">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="HentAktoerer">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Wsdl/20100915/#HentAktoerer" style="document"/>
			<wsdl:input name="HentAktoererRequestRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentAktoererRequestResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HentGjeldendePlanbestemmelser">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Wsdl/20100915/#HentGjeldendePlanbestemmelser" style="document"/>
			<wsdl:input name="HentGjeldendePlanbestemmelserRequestRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentGjeldendePlanbestemmelserRequestResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HentMindreEndringer">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Wsdl/20100915/#HentMindreEndringer" style="document"/>
			<wsdl:input name="HentMindreEndringerRequestRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentMindreEndringerRequestResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="FinnDispensasjoner">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Wsdl/20100915/#FinnDispensasjoner" style="document"/>
			<wsdl:input name="FinnDispensasjonerRequestRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="FinnDispensasjonerRequestResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HentPlandokumenter">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Wsdl/20100915/#HentPlandokumenter" style="document"/>
			<wsdl:input name="HentPlandokumenterRequestRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentPlandokumenterRequestResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HentPlan">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Wsdl/20100915/#HentPlan" style="document"/>
			<wsdl:input name="HentPlanRequestRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentPlanRequestResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Utvidet">
		<wsdl:port name="PlanregUtvidet" binding="tns:PlanregUtvidet">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
