Kart/Geometri/Xml/Schema/20100615/giKartGeometri20100615.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Kart/Geometri/Xml/Schema/20100615" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Kart/Geometri/Xml/Schema/20100615" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/Xml/Schema/20100615" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/Xml/Schema/20100615" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Schema/20100615" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/Xml/Schema/20100615" xmlns:kartgeometrins="http://rep.geointegrasjon.no/Kart/Geometri/Xml/Schema/20100615" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/Xml/Schema/20100615" xmlns:arkivindrekjernens="http://rep.geointegrasjon.no/Arkiv/IndreKjerne/Xml/Schema/20100615" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/Xml/Schema/20100615" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20100615" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Schema/20100615" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/Xml/Schema/20100615" elementFormDefault="qualified" version="20100615 - GeoIntegrasjon v1.0">
	<xs:import namespace=""/>
	<xs:element name="Bbox" type="tns:Bbox"/>
	<xs:complexType name="Bbox">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Flate" type="tns:Flate"/>
	<xs:complexType name="Flate">
		<xs:complexContent>
			<xs:extension base="tns:Geometri">
				<xs:sequence>
					<xs:element name="indreAvgrensning" type="tns:Ring" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ytreAvgrensning" type="tns:Ring" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Geometri" type="tns:Geometri"/>
	<xs:complexType name="Geometri" abstract="true">
		<xs:sequence>
			<xs:element name="koordinatsystem" type="KoordinatsystemKode" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Koordinat" type="tns:Koordinat"/>
	<xs:complexType name="Koordinat">
		<xs:sequence>
			<xs:element name="x" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="y" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="z" type="xs:double" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Kurve" type="tns:Kurve"/>
	<xs:complexType name="Kurve">
		<xs:complexContent>
			<xs:extension base="tns:Geometri">
				<xs:sequence>
					<xs:element name="linje" type="tns:Koordinat" minOccurs="2" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Omraade" type="tns:Omraade"/>
	<xs:complexType name="Omraade">
		<xs:sequence>
			<xs:element name="punkt" type="tns:Punkt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sesjonsid" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="flater" type="tns:Flate" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Punkt" type="tns:Punkt"/>
	<xs:complexType name="Punkt">
		<xs:complexContent>
			<xs:extension base="tns:Geometri">
				<xs:sequence>
					<xs:element name="posisjon" type="tns:Koordinat" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Ring" type="tns:Ring"/>
	<xs:complexType name="Ring">
		<xs:sequence>
			<xs:element name="lukketKurve" type="tns:Koordinat" minOccurs="4" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
