Matrikkel/Utvidet/Xml/Wsdl/20100615/giMatrikkelUtvidet20100615.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MatrikkelUtvidet" targetNamespace="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Wsdl/20100615" xmlns:tns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Wsdl/20100615" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/Xml/Schema/20100615" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/Xml/Schema/20100615" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Schema/20100615" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/Xml/Schema/20100615" xmlns:kartgeometrins="http://rep.geointegrasjon.no/Kart/Geometri/Xml/Schema/20100615" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/Xml/Schema/20100615" xmlns:arkivindrekjernens="http://rep.geointegrasjon.no/Arkiv/IndreKjerne/Xml/Schema/20100615" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/Xml/Schema/20100615" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20100615" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Schema/20100615" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/Xml/Schema/20100615 ">
	<wsdl:import namespace="http://rep.geointegrasjon.no/Matrikkel/Basis/Xml/Schema/20100615" location="http://rep.geointegrasjon.no/Matrikkel/Basis/Xml/Schema/20100615/giMatrikkelBasis20100615.xsd"/>
	<wsdl:import namespace="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Schema/20100615" location="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Schema/20100615/giMatrikkelUtvidet20100615.xsd"/>
	<wsdl:import namespace="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20100615" location="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20100615/giMatrikkelFelles20100615.xsd"/>
	<wsdl:types/>
	<wsdl:message name="FinnNaboerRequest">
		<wsdl:part name="matrikkelNr" type="matrikkelfellesns:Matrikkelnummer"/>
		<wsdl:part name="maxAvstand" type="xs:Integer">
			<wsdl:documentation>max avstand i meter mellom teig til angitt matrikkelenhet og teigen til en nabo. Default er 0 m.</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="medFester" type="xs:boolean">
			<wsdl:documentation>får tilbake naboer som er festegrunner, False: festegrunner returneres ikke</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="medSeksjoner" type="xs:boolean">
			<wsdl:documentation>True dersom alle seksjoner for seksjonerte matrikkelenheter skal være med</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="FinnNaboerResponse">
		<wsdl:part name="return" type="matrikkelfellesns:Matrikkelnummer"/>
	</wsdl:message>
	<wsdl:message name="HentTeigerForMatrikkelenhetRequest">
		<wsdl:part name="matrikkelNr" type="matrikkelfellesns:Matrikkelnummer"/>
	</wsdl:message>
	<wsdl:message name="HentTeigerForMatrikkelenhetResponse">
		<wsdl:part name="return" type="matrikkelutvidetns:Teig"/>
	</wsdl:message>
	<wsdl:message name="HentAnleggsflaterForMatrikkelenhetRequest">
		<wsdl:part name="matrikkelNr" type="matrikkelfellesns:Matrikkelnummer"/>
	</wsdl:message>
	<wsdl:message name="HentAnleggsflaterForMatrikkelenhetResponse">
		<wsdl:part name="return" type="matrikkelutvidetns:Anleggsprojeksjonsflate"/>
	</wsdl:message>
	<wsdl:message name="HentBruksenheterForByggRequest">
		<wsdl:part name="bygningsID" type="matrikkelfellesns:BygningsId"/>
	</wsdl:message>
	<wsdl:message name="HentBruksenheterForByggResponse">
		<wsdl:part name="return" type="matrikkelutvidetns:Bruksenhet"/>
	</wsdl:message>
	<wsdl:message name="HentEtasjerForByggRequest">
		<wsdl:part name="bygningsID" type="matrikkelfellesns:BygningsId"/>
	</wsdl:message>
	<wsdl:message name="HentEtasjerForByggResponse">
		<wsdl:part name="return" type="Etasje"/>
	</wsdl:message>
	<wsdl:portType name="Matrikkelutvidet">
		<wsdl:operation name="HentEtasjerForBygg">
			<wsdl:input name="HentEtasjerForByggRequestRequest" message="tns:HentEtasjerForByggRequest"/>
			<wsdl:output name="HentEtasjerForByggRequestResponse" message="tns:HentEtasjerForByggResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HentBruksenheterForBygg">
			<wsdl:input name="HentBruksenheterForByggRequestRequest" message="tns:HentBruksenheterForByggRequest"/>
			<wsdl:output name="HentBruksenheterForByggRequestResponse" message="tns:HentBruksenheterForByggResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HentAnleggsflaterForMatrikkelenhet">
			<wsdl:input name="HentAnleggsflaterForMatrikkelenhetRequestRequest" message="tns:HentAnleggsflaterForMatrikkelenhetRequest"/>
			<wsdl:output name="HentAnleggsflaterForMatrikkelenhetRequestResponse" message="tns:HentAnleggsflaterForMatrikkelenhetResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HentTeigerForMatrikkelenhet">
			<wsdl:input name="HentTeigerForMatrikkelenhetRequestRequest" message="tns:HentTeigerForMatrikkelenhetRequest"/>
			<wsdl:output name="HentTeigerForMatrikkelenhetRequestResponse" message="tns:HentTeigerForMatrikkelenhetResponse"/>
		</wsdl:operation>
		<wsdl:operation name="FinnNaboer">
			<wsdl:input name="FinnNaboerRequestRequest" message="tns:FinnNaboerRequest"/>
			<wsdl:output name="FinnNaboerRequestResponse" message="tns:FinnNaboerResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Matrikkelutvidet" type="tns:Matrikkelutvidet">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="HentEtasjerForBygg">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Wsdl/20100615/#HentEtasjerForBygg" style="document"/>
			<wsdl:input name="HentEtasjerForByggRequestRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentEtasjerForByggRequestResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HentBruksenheterForBygg">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Wsdl/20100615/#HentBruksenheterForBygg" style="document"/>
			<wsdl:input name="HentBruksenheterForByggRequestRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentBruksenheterForByggRequestResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HentAnleggsflaterForMatrikkelenhet">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Wsdl/20100615/#HentAnleggsflaterForMatrikkelenhet" style="document"/>
			<wsdl:input name="HentAnleggsflaterForMatrikkelenhetRequestRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentAnleggsflaterForMatrikkelenhetRequestResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HentTeigerForMatrikkelenhet">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Wsdl/20100615/#HentTeigerForMatrikkelenhet" style="document"/>
			<wsdl:input name="HentTeigerForMatrikkelenhetRequestRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentTeigerForMatrikkelenhetRequestResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="FinnNaboer">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Wsdl/20100615/#FinnNaboer" style="document"/>
			<wsdl:input name="FinnNaboerRequestRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="FinnNaboerRequestResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Utvidet">
		<wsdl:port name="Matrikkelutvidet" binding="tns:Matrikkelutvidet">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
