Matrikkel/Basis/xml.schema/2011.02.18/giMatrikkelBasis20110218.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2011.02.18" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2011.02.18" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2011.02.18" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2011.02.18" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2011.02.18" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2011.02.18" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2011.02.18" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.02.18" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.02.18" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.02.18" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2011.02.18" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2011.02.18" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2011.02.18" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2011.02.18" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2011.02.18" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2011.02.18" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2011.02.18" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.02.18" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2011.02.18" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2011.02.18" elementFormDefault="qualified" version="2011.02.18 - GeoIntegrasjon v1.00.0">
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2011.02.18/giFellesKontakt20110218.xsd"/>
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.02.18/giFellesGeometri20110218.xsd"/>
	<xs:import namespace="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.02.18/giMatrikkelFelles20110218.xsd"/>
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.02.18/giFellesKodeliste20110218.xsd"/>
	<xs:element name="AdresseListe" type="tns:AdresseListe"/>
	<xs:complexType name="AdresseListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Adresse" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Adresse" type="tns:Adresse"/>
	<xs:complexType name="Adresse" abstract="true">
		<xs:sequence>
			<xs:element name="representasjonspunkt" type="tns:Representasjonspunkt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="postnr" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poststed" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ByggListe" type="tns:ByggListe"/>
	<xs:complexType name="ByggListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Bygg" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Bygg" type="tns:Bygg"/>
	<xs:complexType name="Bygg">
		
		<xs:sequence>
			<xs:element name="bebygdAreal" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="byggIdent" type="matrikkelfellesns:ByggIdent" minOccurs="1" maxOccurs="1"/>
			<xs:element name="bygningsStatus" type="tns:BygningsstatusKode" minOccurs="1" maxOccurs="1"/>
			<xs:element name="etasjeData" type="tns:Etasjedata" minOccurs="1" maxOccurs="1"/>
			<xs:element name="kommunenummer" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="naeringsgruppe" type="tns:NaeringsgruppeKode" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Bygning" type="tns:Bygning"/>
	<xs:complexType name="Bygning">
		
		<xs:complexContent>
			<xs:extension base="tns:Bygg">
				<xs:sequence>
					<xs:element name="bygningsType" type="tns:BygningstypeKode" minOccurs="1" maxOccurs="1"/>
					<xs:element name="representasjonspunkt" type="tns:Representasjonspunkt" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Bygningsendring" type="tns:BygningsendringListe" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BygningsendringListe" type="tns:BygningsendringListe"/>
	<xs:complexType name="BygningsendringListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Bygningsendring" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Bygningsendring" type="tns:Bygningsendring"/>
	<xs:complexType name="Bygningsendring">
		
		<xs:complexContent>
			<xs:extension base="tns:Bygg">
				<xs:sequence>
					<xs:element name="bygningsendringsType" type="tns:BygningsendringsKode" minOccurs="1" maxOccurs="1"/>
					<xs:element name="representasjonspunkt" type="tns:Representasjonspunkt" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EierListe" type="tns:EierListe"/>
	<xs:complexType name="EierListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Eier" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Eier" type="tns:Eier"/>
	<xs:complexType name="Eier">
		<xs:sequence>
			<xs:element name="eierforhold" type="tns:EierforholdKode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="andel" type="tns:Andel" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Matrikkeladresse" type="tns:Matrikkeladresse"/>
	<xs:complexType name="Matrikkeladresse">
		<xs:complexContent>
			<xs:extension base="tns:Adresse">
				<xs:sequence>
					<xs:element name="matrikkeladresseIdent" type="tns:MatrikkeladresseIdent" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MatrikkelenhetListe" type="tns:MatrikkelenhetListe"/>
	<xs:complexType name="MatrikkelenhetListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Matrikkelenhet" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Matrikkelenhet" type="tns:Matrikkelenhet"/>
	<xs:complexType name="Matrikkelenhet">
		
		<xs:sequence>
			<xs:element name="matrikkelNummer" type="matrikkelfellesns:Matrikkelnummer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="matrikkelenhetstype" type="tns:EiendomstypeKode" minOccurs="1" maxOccurs="1"/>
			<xs:element name="tinglyst" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="utgaatt" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="erSeksjonert" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="bruksnavn" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="areal" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="harArealmerknad" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="harAktiveFestegrunner" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="representasjonspunkt" type="tns:Representasjonspunkt" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Representasjonspunkt" type="tns:Representasjonspunkt"/>
	<xs:complexType name="Representasjonspunkt">
		<xs:sequence>
			<xs:element name="punkt" type="fellesgeometrins:Koordinat" minOccurs="1" maxOccurs="1"/>
			<xs:element name="koordinatsystem" type="fellesgeometrins:KoordinatsystemKode" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Vegadresse" type="tns:Vegadresse"/>
	<xs:complexType name="Vegadresse">
		<xs:complexContent>
			<xs:extension base="tns:Adresse">
				<xs:sequence>
					<xs:element name="vegadresseIdent" type="tns:VegadresseIdent" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="VegadresseIdentListe" type="tns:VegadresseIdentListe"/>
	<xs:complexType name="VegadresseIdentListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:VegadresseIdent" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="VegadresseIdent" type="tns:VegadresseIdent"/>
	<xs:complexType name="VegadresseIdent">
		
		<xs:complexContent>
			<xs:extension base="tns:AdresseIdent">
				<xs:sequence>
					<xs:element name="adressenavn" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="bokstav" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="kommunenummer" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="nummer" type="xs:integer" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
        <xs:element name="ArealmerknadKodeListe" type="tns:ArealmerknadKodeListe"/>
	<xs:complexType name="ArealmerknadKodeListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:ArealmerknadKode" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArealmerknadKode" type="tns:ArealmerknadKode"/>
	<xs:complexType name="ArealmerknadKode">
		
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BygningsendringsKode" type="tns:BygningsendringsKode"/>
	<xs:complexType name="BygningsendringsKode">
		
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EiendomstypeKode" type="tns:EiendomstypeKode"/>
	<xs:complexType name="EiendomstypeKode">
		
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BygningsstatusKode" type="tns:BygningsstatusKode"/>
	<xs:complexType name="BygningsstatusKode">
		
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BygningstypeKode" type="tns:BygningstypeKode"/>
	<xs:complexType name="BygningstypeKode">
		<xs:annotation>
			<xs:documentation>Koder for hva bygget er brukt til.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="NaeringsgruppeKode" type="tns:NaeringsgruppeKode"/>
	<xs:complexType name="NaeringsgruppeKode">
		<xs:annotation>
			<xs:documentation>Lovlige næringsgrupper som bygg kan brukes til.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EierforholdKode" type="tns:EierforholdKode"/>
	<xs:complexType name="EierforholdKode">
		<xs:annotation>
			<xs:documentation>Type eierforhold som kommer fra Tinglysingssystemet eller ved registrering i matrikkelen.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="KommuneKode" type="tns:KommuneKode"/>
	<xs:complexType name="KommuneKode">
		<xs:annotation>
			<xs:documentation>Kommunenummer og kommunenavn
    </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Andel" type="tns:Andel"/>
	<xs:complexType name="Andel">
		<xs:annotation>
			<xs:documentation>brøk som beskriver eierandel.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="teller" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="nevner" type="xs:integer" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Etasjedata" type="tns:Etasjedata"/>
	<xs:complexType name="Etasjedata">
		<xs:annotation>
			<xs:documentation>summering av etasjeinformasjon for et bygg.
    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sumAntallBoenheter" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sumBruksarealTilBolig" type="xs:double" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sumBruksarealTilAnnet" type="xs:double" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sumBruksarealTotalt" type="xs:double" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sumAlternativtAreal" type="xs:double" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sumAlternativtAreal2" type="xs:double" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MatrikkeladresseIdent" type="tns:MatrikkeladresseIdent"/>
	<xs:complexType name="MatrikkeladresseIdent">
		<xs:annotation>
			<xs:documentation>unik identifikasjon av en matrikkeladresse</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:AdresseIdent">
				<xs:sequence>
					<xs:element name="matrikkelnummer" type="matrikkelfellesns:Matrikkelnummer" minOccurs="1" maxOccurs="1"/>
					<xs:element name="undernummer" type="xs:integer" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Rettigheter" type="tns:Rettigheter"/>
	<xs:complexType name="Rettigheter">
		<xs:annotation>
			<xs:documentation>Datatypen inneholder rettighetsflagg.
    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="harLesEierforholdRettighet" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="harLesFnrRettighet" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AdresseIdentListe" type="tns:AdresseIdentListe"/>
	<xs:complexType name="AdresseIdentListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:AdresseIdent" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AdresseIdent" type="tns:AdresseIdent"/>
	<xs:complexType name="AdresseIdent" abstract="true">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="KontaktEier" type="tns:KontaktEier"/>
	<xs:complexType name="KontaktEier">
		<xs:complexContent>
			<xs:extension base="tns:Eier">
				<xs:sequence>
					<xs:element name="kontakt" type="felleskontaktns:Kontakt" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MatrikkelEier" type="tns:MatrikkelEier"/>
	<xs:complexType name="MatrikkelEier">
		<xs:complexContent>
			<xs:extension base="tns:Eier">
				<xs:sequence>
					<xs:element name="matrikkelNummer" type="matrikkelfellesns:Matrikkelnummer" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
