Felles/Geometri/Xml/Schema/20101222/giFellesGeometri20101222.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Felles/Geometri/Xml/Schema/20101222" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Felles/Geometri/Xml/Schema/20101222" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/Xml/Schema/20101222" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/Xml/Schema/20101222" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Schema/20101222" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/Xml/Schema/20101222" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/Xml/Schema/20101222" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/Xml/Schema/20101222" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/Xml/Schema/20101222" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/Xml/Schema/20101222" xmlns:fellesfeilns="http://rep.geointegrasjon.no/Felles/Feil/Xml/Schema/20101222" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/Xml/Schema/20101222" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/Xml/Schema/20101222" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/Xml/Schema/20101222" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/Xml/Schema/20101222" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/Xml/Schema/20101222" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/Xml/Schema/20101222" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20101222" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Schema/20101222" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/Xml/Schema/20101222" elementFormDefault="qualified" version="20101222 - GeoIntegrasjon v0.97">
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Kodeliste/Xml/Schema/20101222" schemaLocation="http://rep.geointegrasjon.no/Felles/Kodeliste/Xml/Schema/20101222/giFellesKodeliste20101222.xsd"/>
	<xs:element name="Bbox" type="tns:Bbox"/>
	<xs:complexType name="Bbox">
		<xs:complexContent>
			<xs:extension base="tns:Geometri">
				<xs:sequence>
					<xs:element name="nedreVenstre" type="tns:Koordinat" minOccurs="1" maxOccurs="1"/>
					<xs:element name="oevreHoeyre" type="tns:Koordinat" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Flate" type="tns:Flate"/>
	<xs:complexType name="Flate">
		<xs:complexContent>
			<xs:extension base="tns:Geometri">
				<xs:sequence>
					<xs:element name="indreAvgrensning" type="tns:Ring" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ytreAvgrensning" type="tns:Ring" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Geometri" type="tns:Geometri"/>
	<xs:complexType name="Geometri" abstract="true">
		<xs:sequence>
			<xs:element name="koordinatsystem" type="tns:KoordinatsystemKode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Koordinatsystemkode</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="KoordinatListe" type="tns:KoordinatListe"/>
	<xs:complexType name="KoordinatListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Koordinat" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Koordinat" type="tns:Koordinat"/>
	<xs:complexType name="Koordinat">
		<xs:sequence>
			<xs:element name="x" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="y" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="z" type="xs:double" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="KoordinatsystemKode" type="tns:KoordinatsystemKode"/>
	<xs:complexType name="KoordinatsystemKode">
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Kurve" type="tns:Kurve"/>
	<xs:complexType name="Kurve">
		<xs:complexContent>
			<xs:extension base="tns:Geometri">
				<xs:sequence>
					<xs:element name="linje" type="tns:Koordinat" minOccurs="2" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="OmraadeListe" type="tns:OmraadeListe"/>
	<xs:complexType name="OmraadeListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Omraade" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Omraade" type="tns:Omraade"/>
	<xs:complexType name="Omraade">
		<xs:sequence>
			<xs:element name="punkt" type="tns:Punkt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="flater" type="tns:Flate" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PunktListe" type="tns:PunktListe"/>
	<xs:complexType name="PunktListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Punkt" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Punkt" type="tns:Punkt"/>
	<xs:complexType name="Punkt">
		<xs:complexContent>
			<xs:extension base="tns:Geometri">
				<xs:sequence>
					<xs:element name="posisjon" type="tns:Koordinat" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RingListe" type="tns:RingListe"/>
	<xs:complexType name="RingListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Ring" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Ring" type="tns:Ring"/>
	<xs:complexType name="Ring">
		<xs:sequence>
			<xs:element name="lukketKurve" type="tns:Koordinat" minOccurs="4" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
