Matrikkel/Kart/xml.wsdl/2011.02.18/giMatrikkelKart20110218.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MatrikkelKart" targetNamespace="http://rep.geointegrasjon.no/Matrikkel/Kart/xml.wsdl/2011.02.18" xmlns:tns="http://rep.geointegrasjon.no/Matrikkel/Kart/xml.wsdl/2011.02.18" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xs:schema targetNamespace="http://rep.geointegrasjon.no/Matrikkel/Kart/xml.wsdl/2011.02.18" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://rep.geointegrasjon.no/Matrikkel/Kart/xml.wsdl/2011.02.18" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2011.02.18" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2011.02.18" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2011.02.18" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2011.02.18" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2011.02.18" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.02.18" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.02.18" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.02.18" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2011.02.18" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2011.02.18" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2011.02.18" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2011.02.18" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2011.02.18" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2011.02.18" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2011.02.18" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.02.18" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2011.02.18" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2011.02.18" elementFormDefault="qualified">
			<xs:import namespace="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.02.18/giMatrikkelFelles20110218.xsd"/>
			<xs:import namespace="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18/giFellesTeknisk20110218.xsd"/>
			<xs:import namespace="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.02.18/giFellesGeometri20110218.xsd"/>
			<xs:element name="FinnMatrikkelenheterForOmraade">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="selectionPolygon" type="fellesgeometrins:KoordinatListe" minOccurs="0" maxOccurs="1" nillable="true"/>
						<xs:element name="matrikkelKontekst" type="fellestekniskns:MatrikkelKontekst" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FinnMatrikkelenheterForOmraadeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="matrikkelfellesns:MatrikkelnummerListe" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FinnMatrikkelenheterForOmraadeFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="error" type="fellestekniskns:GeointegrasjonException" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentBboxForMatrikkelenhet">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="matrikkelNr" type="matrikkelfellesns:Matrikkelnummer" minOccurs="0" maxOccurs="1" nillable="true"/>
						<xs:element name="matrikkelKontekst" type="fellestekniskns:MatrikkelKontekst" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentBboxForMatrikkelenhetResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="fellesgeometrins:Bbox" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentBboxForMatrikkelenhetFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="error" type="fellestekniskns:GeointegrasjonException" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentOmraadeForMatrikkelenhet">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="matrikkelnr" type="matrikkelfellesns:Matrikkelnummer" minOccurs="0" maxOccurs="1" nillable="true"/>
						<xs:element name="matrikkelKontekst" type="fellestekniskns:MatrikkelKontekst" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentOmraadeForMatrikkelenhetResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="fellesgeometrins:OmraadeListe" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentOmraadeForMatrikkelenhetFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="error" type="fellestekniskns:GeointegrasjonException" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="FinnMatrikkelenheterForOmraadeMessage">
		<wsdl:part name="parameters" element="tns:FinnMatrikkelenheterForOmraade"/>
	</wsdl:message>
	<wsdl:message name="FinnMatrikkelenheterForOmraadeResponseMessage">
		<wsdl:part name="parameters" element="tns:FinnMatrikkelenheterForOmraadeResponse"/>
	</wsdl:message>
	<wsdl:message name="FinnMatrikkelenheterForOmraadeFaultMessage">
		<wsdl:part name="fault" element="tns:FinnMatrikkelenheterForOmraadeFault"/>
	</wsdl:message>
	<wsdl:message name="HentBboxForMatrikkelenhetMessage">
		<wsdl:part name="parameters" element="tns:HentBboxForMatrikkelenhet"/>
	</wsdl:message>
	<wsdl:message name="HentBboxForMatrikkelenhetResponseMessage">
		<wsdl:part name="parameters" element="tns:HentBboxForMatrikkelenhetResponse"/>
	</wsdl:message>
	<wsdl:message name="HentBboxForMatrikkelenhetFaultMessage">
		<wsdl:part name="fault" element="tns:HentBboxForMatrikkelenhetFault"/>
	</wsdl:message>
	<wsdl:message name="HentOmraadeForMatrikkelenhetMessage">
		<wsdl:part name="parameters" element="tns:HentOmraadeForMatrikkelenhet"/>
	</wsdl:message>
	<wsdl:message name="HentOmraadeForMatrikkelenhetResponseMessage">
		<wsdl:part name="parameters" element="tns:HentOmraadeForMatrikkelenhetResponse"/>
	</wsdl:message>
	<wsdl:message name="HentOmraadeForMatrikkelenhetFaultMessage">
		<wsdl:part name="fault" element="tns:HentOmraadeForMatrikkelenhetFault"/>
	</wsdl:message>
	<wsdl:portType name="Matrikkelkart">
		<wsdl:operation name="HentOmraadeForMatrikkelenhet">
			<wsdl:input name="HentOmraadeForMatrikkelenhet" message="tns:HentOmraadeForMatrikkelenhetMessage"/>
			<wsdl:output name="HentOmraadeForMatrikkelenhetResponse" message="tns:HentOmraadeForMatrikkelenhetResponseMessage"/>
			<wsdl:fault name="HentOmraadeForMatrikkelenhetFault" message="tns:HentOmraadeForMatrikkelenhetFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="HentBboxForMatrikkelenhet">
			<wsdl:input name="HentBboxForMatrikkelenhet" message="tns:HentBboxForMatrikkelenhetMessage"/>
			<wsdl:output name="HentBboxForMatrikkelenhetResponse" message="tns:HentBboxForMatrikkelenhetResponseMessage"/>
			<wsdl:fault name="HentBboxForMatrikkelenhetFault" message="tns:HentBboxForMatrikkelenhetFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="FinnMatrikkelenheterForOmraade">
			<wsdl:input name="FinnMatrikkelenheterForOmraade" message="tns:FinnMatrikkelenheterForOmraadeMessage"/>
			<wsdl:output name="FinnMatrikkelenheterForOmraadeResponse" message="tns:FinnMatrikkelenheterForOmraadeResponseMessage"/>
			<wsdl:fault name="FinnMatrikkelenheterForOmraadeFault" message="tns:FinnMatrikkelenheterForOmraadeFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Matrikkelkart" type="tns:Matrikkelkart">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="HentOmraadeForMatrikkelenhet">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Matrikkel/Kart/xml.wsdl/2011.02.18/#HentOmraadeForMatrikkelenhet" style="document"/>
			<wsdl:input name="HentOmraadeForMatrikkelenhet">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentOmraadeForMatrikkelenhetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="HentOmraadeForMatrikkelenhetFault">
				<soap:fault name="HentOmraadeForMatrikkelenhetFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="HentBboxForMatrikkelenhet">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Matrikkel/Kart/xml.wsdl/2011.02.18/#HentBboxForMatrikkelenhet" style="document"/>
			<wsdl:input name="HentBboxForMatrikkelenhet">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentBboxForMatrikkelenhetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="HentBboxForMatrikkelenhetFault">
				<soap:fault name="HentBboxForMatrikkelenhetFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="FinnMatrikkelenheterForOmraade">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Matrikkel/Kart/xml.wsdl/2011.02.18/#FinnMatrikkelenheterForOmraade" style="document"/>
			<wsdl:input name="FinnMatrikkelenheterForOmraade">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="FinnMatrikkelenheterForOmraadeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FinnMatrikkelenheterForOmraadeFault">
				<soap:fault name="FinnMatrikkelenheterForOmraadeFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Kart">
		<wsdl:port name="Matrikkelkart" binding="tns:Matrikkelkart">
			<soap:address location="http://www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
