Kart/Basis/xml.wsdl/2011.02.18/giKartBasis20110218.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="KartBasis" targetNamespace="http://rep.geointegrasjon.no/Kart/Basis/xml.wsdl/2011.02.18" xmlns:tns="http://rep.geointegrasjon.no/Kart/Basis/xml.wsdl/2011.02.18" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xs:schema targetNamespace="http://rep.geointegrasjon.no/Kart/Basis/xml.wsdl/2011.02.18" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://rep.geointegrasjon.no/Kart/Basis/xml.wsdl/2011.02.18" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2011.02.18" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2011.02.18" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2011.02.18" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2011.02.18" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2011.02.18" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.02.18" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.02.18" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.02.18" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2011.02.18" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2011.02.18" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2011.02.18" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2011.02.18" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2011.02.18" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2011.02.18" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2011.02.18" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.02.18" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2011.02.18" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2011.02.18" elementFormDefault="qualified">
			<xs:import namespace="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2011.02.18/giArkivDokument20110218.xsd"/>
			<xs:import namespace="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.02.18/giFellesGeometri20110218.xsd"/>
			<xs:import namespace="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.02.18/giFellesTeknisk20110218.xsd"/>
			<xs:import namespace="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2011.02.18" schemaLocation="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2011.02.18/giKartBasis20110218.xsd"/>
			<xs:element name="HentNaboliste">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sesjonsid" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentNabolisteResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="kartbasisns:Naboer" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentNabolisteFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="error" type="fellestekniskns:GeointegrasjonException" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentOmraade">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sesjonsid" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentOmraadeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="fellesgeometrins:Omraade" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentOmraadeFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="error" type="fellestekniskns:GeointegrasjonException" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentPunkt">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sesjonsid" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentPunktResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="fellesgeometrins:Punkt" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentPunktFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="error" type="fellestekniskns:GeointegrasjonException" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentDokument">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sesjonsid" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentDokumentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="arkivdokumentns:Dokument" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HentDokumentFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="error" type="fellestekniskns:GeointegrasjonException" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="HentNabolisteMessage">
		<wsdl:part name="parameters" element="tns:HentNaboliste"/>
	</wsdl:message>
	<wsdl:message name="HentNabolisteResponseMessage">
		<wsdl:part name="parameters" element="tns:HentNabolisteResponse"/>
	</wsdl:message>
	<wsdl:message name="HentNabolisteFaultMessage">
		<wsdl:part name="fault" element="tns:HentNabolisteFault"/>
	</wsdl:message>
	<wsdl:message name="HentOmraadeMessage">
		<wsdl:part name="parameters" element="tns:HentOmraade"/>
	</wsdl:message>
	<wsdl:message name="HentOmraadeResponseMessage">
		<wsdl:part name="parameters" element="tns:HentOmraadeResponse"/>
	</wsdl:message>
	<wsdl:message name="HentOmraadeFaultMessage">
		<wsdl:part name="fault" element="tns:HentOmraadeFault"/>
	</wsdl:message>
	<wsdl:message name="HentPunktMessage">
		<wsdl:part name="parameters" element="tns:HentPunkt"/>
	</wsdl:message>
	<wsdl:message name="HentPunktResponseMessage">
		<wsdl:part name="parameters" element="tns:HentPunktResponse"/>
	</wsdl:message>
	<wsdl:message name="HentPunktFaultMessage">
		<wsdl:part name="fault" element="tns:HentPunktFault"/>
	</wsdl:message>
	<wsdl:message name="HentDokumentMessage">
		<wsdl:part name="parameters" element="tns:HentDokument"/>
	</wsdl:message>
	<wsdl:message name="HentDokumentResponseMessage">
		<wsdl:part name="parameters" element="tns:HentDokumentResponse"/>
	</wsdl:message>
	<wsdl:message name="HentDokumentFaultMessage">
		<wsdl:part name="fault" element="tns:HentDokumentFault"/>
	</wsdl:message>
	<wsdl:portType name="Kart">
		<wsdl:operation name="HentDokument">
			<wsdl:input name="HentDokument" message="tns:HentDokumentMessage"/>
			<wsdl:output name="HentDokumentResponse" message="tns:HentDokumentResponseMessage"/>
			<wsdl:fault name="HentDokumentFault" message="tns:HentDokumentFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="HentPunkt">
			<wsdl:input name="HentPunkt" message="tns:HentPunktMessage"/>
			<wsdl:output name="HentPunktResponse" message="tns:HentPunktResponseMessage"/>
			<wsdl:fault name="HentPunktFault" message="tns:HentPunktFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="HentOmraade">
			<wsdl:input name="HentOmraade" message="tns:HentOmraadeMessage"/>
			<wsdl:output name="HentOmraadeResponse" message="tns:HentOmraadeResponseMessage"/>
			<wsdl:fault name="HentOmraadeFault" message="tns:HentOmraadeFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="HentNaboliste">
			<wsdl:input name="HentNaboliste" message="tns:HentNabolisteMessage"/>
			<wsdl:output name="HentNabolisteResponse" message="tns:HentNabolisteResponseMessage"/>
			<wsdl:fault name="HentNabolisteFault" message="tns:HentNabolisteFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Kart" type="tns:Kart">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="HentDokument">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Kart/Basis/xml.wsdl/2011.02.18/#HentDokument" style="document"/>
			<wsdl:input name="HentDokument">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentDokumentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="HentDokumentFault">
				<soap:fault name="HentDokumentFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="HentPunkt">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Kart/Basis/xml.wsdl/2011.02.18/#HentPunkt" style="document"/>
			<wsdl:input name="HentPunkt">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentPunktResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="HentPunktFault">
				<soap:fault name="HentPunktFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="HentOmraade">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Kart/Basis/xml.wsdl/2011.02.18/#HentOmraade" style="document"/>
			<wsdl:input name="HentOmraade">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentOmraadeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="HentOmraadeFault">
				<soap:fault name="HentOmraadeFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="HentNaboliste">
			<soap:operation soapAction="http://rep.geointegrasjon.no/Kart/Basis/xml.wsdl/2011.02.18/#HentNaboliste" style="document"/>
			<wsdl:input name="HentNaboliste">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HentNabolisteResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="HentNabolisteFault">
				<soap:fault name="HentNabolisteFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Basis">
		<wsdl:port name="Kart" binding="tns:Kart">
			<soap:address location="http://www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
