Plan/Basis/xml.schema/2011.09.27/giPlanBasis20110927.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2011.09.27" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2011.09.27" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2011.09.27" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2011.09.27" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2011.09.27" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2011.09.27" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2011.09.27" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.09.27" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.09.27" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.09.27" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2011.09.27" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.09.27" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2011.09.27" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2011.09.27" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2011.09.27" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2011.09.27" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2011.09.27" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2011.09.27" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.09.27" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2011.09.27" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2011.09.27" elementFormDefault="qualified" version="2011.09.27 - GeoIntegrasjon v1.1.0">
	<xs:import namespace="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2011.09.27" schemaLocation="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2011.09.27/giPlanFelles20110927.xsd"/>
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.09.27" schemaLocation="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.09.27/giFellesKodeliste20110927.xsd"/>
	<xs:element name="ArealplanBaseListe" type="tns:ArealplanBaseListe"/>
	<xs:complexType name="ArealplanBaseListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:ArealplanBase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArealplanBase" type="tns:ArealplanBase"/>
	<xs:complexType name="ArealplanBase">
		<xs:sequence>
			<xs:element name="arealplanId" type="planfellesns:NasjonalArealplanId" minOccurs="1" maxOccurs="1"/>
			<xs:element name="plannavn" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="planType" type="tns:Plantype" minOccurs="1" maxOccurs="1"/>
			<xs:element name="planstatus" type="tns:Planstatus" minOccurs="1" maxOccurs="1"/>
			<xs:element name="plandokumentasjonOppdatert" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ubehandletKlage" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ubehandletInnsigelse" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vedtaksDato" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PlanstatusListe" type="tns:PlanstatusListe"/>
	<xs:complexType name="PlanstatusListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Planstatus" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Planstatus" type="tns:Planstatus"/>
	<xs:complexType name="Planstatus">
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PlantypeListe" type="tns:PlantypeListe"/>
	<xs:complexType name="PlantypeListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Plantype" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Plantype" type="tns:Plantype"/>
	<xs:complexType name="Plantype">
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
