Sak/Faser/xml.schema/2011.09.27/giSakFaser20110927.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2011.09.27" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2011.09.27" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2011.09.27" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2011.09.27" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2011.09.27" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2011.09.27" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2011.09.27" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2011.09.27" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.09.27" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2011.09.27" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2011.09.27" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2011.09.27" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2011.09.27" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2011.09.27" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2011.09.27" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2011.09.27" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2011.09.27" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2011.09.27" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2011.09.27" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2011.09.27" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2011.09.27" elementFormDefault="qualified" version="2011.09.27 - GeoIntegrasjon v1.1.0">
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.09.27" schemaLocation="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2011.09.27/giFellesKodeliste20110927.xsd"/>
	<xs:element name="FaseListe" type="tns:FaseListe"/>
	<xs:complexType name="FaseListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Fase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Fase" type="tns:Fase"/>
	<xs:complexType name="Fase">
		<xs:sequence>
			<xs:element name="faseNavn" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="faseBeskrivelse" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="type" type="tns:FaseType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="status" type="tns:FaseStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element name="startMilepel" type="tns:Milepel" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sluttMilepel" type="tns:Milepel" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FaseStatusListe" type="tns:FaseStatusListe"/>
	<xs:complexType name="FaseStatusListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:FaseStatus" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FaseStatus" type="tns:FaseStatus"/>
	<xs:complexType name="FaseStatus">
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FaseTypeListe" type="tns:FaseTypeListe"/>
	<xs:complexType name="FaseTypeListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:FaseType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FaseType" type="tns:FaseType"/>
	<xs:complexType name="FaseType">
		<xs:complexContent>
			<xs:extension base="felleskodelistens:Kode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MilepelListe" type="tns:MilepelListe"/>
	<xs:complexType name="MilepelListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Milepel" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Milepel" type="tns:Milepel"/>
	<xs:complexType name="Milepel">
		<xs:sequence>
			<xs:element name="milepelNavn" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="milepelBeskrivelse" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="milepelDato" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
