Skjema/Byggesak/Xml/Schema/20101222/giSkjemaByggesak20101222.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Skjema/Byggesak/Xml/Schema/20101222" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Skjema/Byggesak/Xml/Schema/20101222" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/Xml/Schema/20101222" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/Xml/Schema/20101222" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Schema/20101222" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/Xml/Schema/20101222" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/Xml/Schema/20101222" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/Xml/Schema/20101222" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/Xml/Schema/20101222" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/Xml/Schema/20101222" xmlns:fellesfeilns="http://rep.geointegrasjon.no/Felles/Feil/Xml/Schema/20101222" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/Xml/Schema/20101222" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/Xml/Schema/20101222" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/Xml/Schema/20101222" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/Xml/Schema/20101222" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/Xml/Schema/20101222" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/Xml/Schema/20101222" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20101222" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Schema/20101222" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/Xml/Schema/20101222" elementFormDefault="qualified" version="20101222 - GeoIntegrasjon v0.97">
	<xs:import namespace="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Schema/20101222" schemaLocation="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Schema/20101222/giPlanUtvidet20101222.xsd"/>
	<xs:import namespace="http://rep.geointegrasjon.no/Matrikkel/Basis/Xml/Schema/20101222" schemaLocation="http://rep.geointegrasjon.no/Matrikkel/Basis/Xml/Schema/20101222/giMatrikkelBasis20101222.xsd"/>
	<xs:import namespace="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20101222" schemaLocation="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20101222/giMatrikkelFelles20101222.xsd"/>
	<xs:element name="Eiendomsopplysninger" type="tns:Eiendomsopplysninger"/>
	<xs:complexType name="Eiendomsopplysninger">
		<xs:sequence>
			<xs:element name="matrikkelnr" type="matrikkelfellesns:Matrikkelnummer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="adresse" type="matrikkelbasisns:Adresse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="bygningsnr" type="matrikkelfellesns:BygningsId" minOccurs="0" maxOccurs="1"/>
			<xs:element name="bolignummer" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="andreMatrikkelnr" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PlanopplysningerListe" type="tns:PlanopplysningerListe"/>
	<xs:complexType name="PlanopplysningerListe">
		<xs:sequence>
			<xs:element name="liste" type="tns:Planopplysninger" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Planopplysninger" type="tns:Planopplysninger"/>
	<xs:complexType name="Planopplysninger">
		<xs:sequence>
			<xs:element name="utnyttingsgrad" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
			<xs:element name="plan" type="planutvidetns:Arealplan" minOccurs="1" maxOccurs="1"/>
			<xs:element name="andreRelevanteKrav" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="formaal" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="relatertMatrikkelnr" type="matrikkelfellesns:Matrikkelnummer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
