Felles/Kontakt/Xml/Schema/20101222/giFellesKontakt20101222.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.geointegrasjon.no/Felles/Kontakt/Xml/Schema/20101222" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rep.geointegrasjon.no/Felles/Kontakt/Xml/Schema/20101222" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/Xml/Schema/20101222" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/Xml/Schema/20101222" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/Xml/Schema/20101222" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/Xml/Schema/20101222" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/Xml/Schema/20101222" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/Xml/Schema/20101222" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/Xml/Schema/20101222" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/Xml/Schema/20101222" xmlns:fellesfeilns="http://rep.geointegrasjon.no/Felles/Feil/Xml/Schema/20101222" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/Xml/Schema/20101222" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/Xml/Schema/20101222" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/Xml/Schema/20101222" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/Xml/Schema/20101222" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/Xml/Schema/20101222" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/Xml/Schema/20101222" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/Xml/Schema/20101222" xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/Xml/Schema/20101222" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/Xml/Schema/20101222" elementFormDefault="qualified" version="20101222 - GeoIntegrasjon v0.97">
	<xs:import namespace="http://rep.geointegrasjon.no/Felles/Adresse/Xml/Schema/20101222" schemaLocation="http://rep.geointegrasjon.no/Felles/Adresse/Xml/Schema/20101222/giFellesAdresse20101222.xsd"/>
	<xs:element name="Dnummer" type="tns:Dnummer"/>
	<xs:complexType name="Dnummer">
		<xs:complexContent>
			<xs:extension base="tns:Personidentifikator">
				<xs:sequence>
					<xs:element name="dnummer" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DUFnummer" type="tns:DUFnummer"/>
	<xs:complexType name="DUFnummer">
		<xs:complexContent>
			<xs:extension base="tns:Personidentifikator">
				<xs:sequence>
					<xs:element name="dufnummer" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Foedselsnummer" type="tns:Foedselsnummer"/>
	<xs:complexType name="Foedselsnummer">
		<xs:complexContent>
			<xs:extension base="tns:Personidentifikator">
				<xs:sequence>
					<xs:element name="foedselsnummer" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Kontakt" type="tns:Kontakt"/>
	<xs:complexType name="Kontakt" abstract="true">
		<xs:sequence>
			<xs:element name="navn" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="adresser" type="fellesadressens:EnkelAdresse" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="elektroniskeAdresser" type="fellesadressens:ElektroniskAdresse" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Organisasjon" type="tns:Organisasjon"/>
	<xs:complexType name="Organisasjon">
		<xs:complexContent>
			<xs:extension base="tns:Kontakt">
				<xs:sequence>
					<xs:element name="organisasjonsnummer" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="organisasjonsnavn" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Person" type="tns:Person"/>
	<xs:complexType name="Person">
		<xs:annotation>
			<xs:documentation>Fra grunndatamodellen i SERES. Merk at det er gjort avvik i forhold til PersonIdentifikator. fødselsnummer, DUFnummer og dnummer er alle strenger med inntil 11 tegn.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:Kontakt">
				<xs:sequence>
					<xs:element name="fornavn" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="etternavn" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="id" type="tns:Personidentifikator" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Personidentifikator" type="tns:Personidentifikator"/>
	<xs:complexType name="Personidentifikator" abstract="true">
		<xs:sequence/>
	</xs:complexType>
</xs:schema>
